@media screen and (max-width: 2600px) {
    .white, .breadcrumb {
        margin-left: 46rem;
    }
    .header-white {
        font-size: 65px;
    }
    .header-paragraph {
        font-size: 45px;
        padding: 0 10rem 0 10rem;
    }
    .logo {
        height: auto;
        max-width: 100%;
        margin: 15px 0 20px 0;
    }
    .about-header {
        font-size: 50px;
        margin: 6rem 0 6rem 0;
    }
    .about-row {
        margin: 5rem;
    }
    .photo-group {
        margin: 3rem 5rem;
    }
    .service-icon-m {
        margin-left: 68rem;
        margin-top: -2rem;
    }
    .margin-top {
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
    .container-row3 {
        width: 100%;
        padding-right: 36rem;
        padding-left: 36rem;
        margin-right: auto;
        margin-left: auto;
    }
    .ul-size {
        font-size: 18px;
        color: black;
    }
    .list-item {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 1800px) {
    .white, .breadcrumb {
        margin-left: 20rem;
    }
    .header-white {
        font-size: 40px;
    }
    .header-paragraph {
        font-size: 17px;
        padding: 0 10rem 0 10rem;
    }
    .logo {
        height: auto;
        max-width: 100%;
        margin: 15px 0 20px 0;
    }
    .about-header {
        font-size: 42px;
        margin: 10rem 0 10rem 0;
    }
    .about-row {
        margin: 5rem;
    }
    .photo-group {
        margin: 1rem 3rem;
    }
    .service-icon-m {
        margin-left: 69rem;
        margin-top: -2rem;
    }
    .margin-top {
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
    .container-row3 {
        width: 100%;
        padding-right: 14rem;
        padding-left: 16rem;
        margin-right: auto;
        margin-left: auto;
    }
    .ul-size {
        font-size: 16px;
        color: black;
    }
}

@media screen and (max-width: 1400px) {
    .container-row3 {
        width: 100%;
        padding-right: 4rem;
        padding-left: 7rem;
        margin-right: auto;
        margin-left: auto;
    }
    .ul-size {
        font-size: 16px;
        color: black;
    }
}

@media screen and (max-width: 1200px) {
    .white, .breadcrumb {
        margin-left: 15rem;
    }
    .header-white {
        font-size: 40px;
    }
    .header-paragraph {
        font-size: 20px;
        padding: 0 10rem 0 10rem;
    }
    .logo {
        height: auto;
        max-width: 100%;
        margin: 15px 0 20px 0;
    }
    .about-header {
        font-size: 42px;
        margin: 10rem 0 10rem 0;
    }
    .about-row {
        margin: 5rem;
    }
    .photo-group {
        margin: 1rem 2rem;
    }
    .jessica-size {
        font-size: 1.9rem;
    }
    .service-icon-m {
        margin-left: 54rem;
        margin-top: -2rem;
    }
    .margin-top {
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
    .container-row3 {
        width: 100%;
        padding-right: 3rem;
        padding-left: 6rem;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 992px) {
    .white, .breadcrumb {
        margin-left: 5rem;
    }
    .header-white {
        font-size: 40px;
    }
    .header-paragraph {
        font-size: 20px;
        padding: 0 8rem 0 8rem;
    }
    .logo {
        height: auto;
        max-width: 100%;
        margin: 15px 0 20px 0;
    }
    .about-header {
        font-size: 35px;
        margin: 15rem 0 15rem 0;
    }
    .about-row {
        margin: 5rem;
    }
    .photo-group {
        margin: 1rem 2rem;
    }
    .h4-size {
        font-size: 1.1rem;
    }
    .profession-size {
        font-size: 0.96rem;
    }
    .service-icon-m {
        margin-left: 34rem;
        margin-top: -2rem;
    }
    .margin-top {
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
    .banner {
        height: 50%;
    }
    .container-row3 {
        width: 100%;
        padding-right: 3rem;
        padding-left: 6rem;
        margin-right: auto;
        margin-left: auto;
    }
    .ul-size {
        font-size: 12px;
        color: black;
    }
}

@media screen and (max-width: 768px) {
    .white, .breadcrumb {
        margin-left: 5rem;
    }
    .header-white {
        font-size: 30px;
    }
    .header-paragraph {
        font-size: 17px;
        padding: 0 5rem 0 5rem;
    }
    .logo {
        height: auto;
        max-width: 100%;
        margin: 15px 0 20px 0;
    }
    .about-header {
        font-size: 30px;
        margin: 3rem 0 3rem 0;
    }
    .about-row {
        margin: 1rem;
    }
    .photo-group {
        margin: 1rem 1.5rem;
    }
    .h4-size {
        font-size: 1.3rem;
    }
    .profession-size {
        font-size: 0.94rem;
    }
    .jessica-size {
        font-size: 1.2rem;
    }
    .service-icon-m {
        margin-left: 19rem;
        margin-top: -2rem;
    }
    .margin-top {
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
    .m-top {
        margin-top: 1rem;
    }
    .container-row3 {
        width: 100%;
        padding-right: 3rem;
        padding-left: 5rem;
        margin-right: auto;
        margin-left: auto;
    }
    .ul-size {
        font-size: 12px;
        color: black;
    }
    .banner {
        height: 50%;
    }
   
    .list-item {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 750px) {
    .banner {
        height: 70%;
    }
}

@media screen and (max-width: 534px) {
    .service-icon-m {
        margin-left: 13rem;
        margin-top: -2rem;
    }
}

@media screen and (max-width: 468px) {
    .white, .breadcrumb {
        margin-left: 1rem;
    }
    .header-white {
        font-size: 35px;
    }
    .header-paragraph {
        font-size: 12px;
        padding: 0 3rem 0 3rem;
    }
    .logo {
        height: auto;
        max-width: 100%;
        margin: 0 0 20px 0;
    }
    .about-header {
        font-size: 25px;
        margin: 1.5rem 0 1.5rem 0;
    }
    .photo-group {
        margin: 0.5rem 1rem;
    }
    .h4-size {
        font-size: 1rem;
    }
    .service-icon-m {
        margin: 1rem 0 1rem 1.5rem;
    }
    .container-row3 {
        width: 100%;
        padding-right: 1rem;
        padding-left: 2rem;
        margin-right: auto;
        margin-left: auto;
    }
    .margin-top {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .banner {
        height: 65%;
    }
    .m-top {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 440px) {
    .banner {
        height: 70%;
    }
}

@media screen and (max-width: 350px) {
    .banner {
        height: 80%;
    }
}

@media screen and (max-width: 300px) {
    .service-icon-m {
        margin: 1rem 0 1rem 0;
    }
    .container-row3 {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
}

.article p {
    text-align: justify;
}

.register-h3 {
    font-weight: bold;
}

.register {
    margin: 20px 0 20px 0;
}

hr {
    max-width: 100%;
}

.end {
    text-align: center;
    margin: 4rem 0 4rem 0;
}

.parallax-img {
    background-image: url(../img/vika/pink-furniture.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-img-cont {
    background-image: url(../img/vika/picture-services.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h-40 {
    height: 40%;
}

.service-icon {
    width: 43px;
    height: 39px;
}

.services-ul {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.ul-size {
    color: black;
}

.flex-row li {
    display: inline;
}

.m-bottom {
    margin-bottom: 4rem;
}

.quote-services {
    font-weight: bold;
}

.p-left {
    padding-left: 0;
}

.padding-left {
    padding-left: 1rem;

}

.banner {
    background-image: url(../img/vika/bedroom-1.jpg);
    background-color: rgba (0, 0, 0, 0.5);
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-1 {
    color: white;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.header-white {
    color: #FFF;
    padding: 10px;
}

.home-p2 {
    padding-bottom: 0;
}

.row5 {
    width: 100%;
    height: 50%;
}

.footer-padding {
    padding-top: 3rem;
}

.ours {
    font-weight: bold;
    display: inline-block;
}

.our-inf {
    line-height: 2rem;
}

.color-white {
    color: white;
}

.color-white:hover {
    text-decoration: none;
    color: lightgray;
}

.margin-remove {
    margin: 0.3rem 0;
}

.outline-color-pink {
    background-color: #e80c7a;
    color: #FFF;
    border: 1px solid var(--color-1, black);
}

.icon-color-white {
    fill: #f6f6f6;
}

.list-item {
    list-style: none;
}

.list-item li {
    vertical-align: middle;
}

.list-item:hover {
    color: #000;
}

.fifth-contact-menu {
    width: 100%;
    background-color: var(--color-1, black);
}

.decoration {
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5)
}

.style li {
    list-style: none;
}

.title-fancy-right {
    background: url(../img/fabric-dark.png) center repeat-x;
}

.f-size {
    font-size: 1.2rem;
}

.grey {
    color: #dee2e6;
}

.f-style {
    font-style: italic;
}

.hr {
    border: none;
    border-top: 1px dashed #dee2e6;
    color: #fff;
    width: 100%;
}

.p-inline-start {
    padding-inline-start: 20px;
}

.float {
    display: inline;
    float: left;
}

.line-height {
    line-height: 1.5;
}

.dark-grey {
    color: #5b5b5b;
}

.small-size {
    font-size: 77%;
}

.xs-size {
    font-size: 75%;
}

.margin {
    margin-top: -1.2rem;
}

.float {
    float: left;
}

.description, 
.facebook,
.twitter {
    float: left;
    margin: 0 0.5rem 0 0.5rem;
}

.email {
    width: 70%;
}

.office {
    background-image: url(../img/vika/office.jpg);
    background-color: rgba (0, 0, 0, 0.5);
    width: 100%;
    height: 50%;  
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;  
} 

.m-left {
    margin-left: 0;
}

.margin {
    margin: 2rem 0 3rem 0;
}

.bordered-bottom {
    border-bottom: 3px solid #dee2e6;
    border-color: var(--color-1, black);
    display: inline;
    padding: 0.4rem;
}

.background {
    background-color: #ccc;
    color: black;
}

.m-top {
    margin-top: 1rem;
}

.margin-x {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.icon-s {
    display: block;
}