<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
    </head>
    <body>
        <div class="main-nav">
            <div class="main-menu container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="main-nav">
                            <div class="main-menu m0">
                                <a href="#" target="_blank">

                                <label for="toggle-1" class="toggle-menu">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-grey-fill icon-s" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>  
                                </label>
                                <input type="checkbox" id="toggle-1">
    
                                <nav class="nav m-v-2 p-h-2">
                                    <ul class="font-weight-600">
                                        <li><a href="#about" style="color: #ccc;" class="m-r-2" >About</a></li>
                                        <li><a href="#portfolio" style="color: #ccc;" class="m-r-1">Portfolio</a></li>
                                        <li><a href="#gallery" style="color: #ccc;" class="m-r-1">Gallery</a></li>
                                        <li><a href="#contact" style="color: #ccc;" class="m-l-2">Contact</a></li>
                                        <li><a href="#services" style="color: #ccc;" class="m-l-2">Services</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <div class="m-t-6">
            <div class="row m-h-7">
                <div class="col-md-6">
        <img src="../img/vika/design-company/picture-3.jpg" class="img-responsive rounded">
        
           </div>
           <div class="col-md-6">
            <h1 class="black bold left display-3 p-h-3">An inclusive<br> workplace where<br> ideas thrive.</h1>
            <h5 class="dark left p-h-3">Ut enim ad minim veniam, quis nostrud<br> exercitation ullamco laboris nisi ut aliquip<br> ex ea commodo consequat.</h5>
            <button class="button-lg  m-h-3 bg-info p-v-1">View Open Positions</button>
           </div>
        </div>
            </div>
            <div class="h-75 d-flex  flex-column m-t-6" style="background-color: #44916a61; border-radius: 200px 200px 0px 0px;  background-size: cover;">
                <div class="row m-h-7 m-t-6">
                    <div class="col-md-6">
                        <h1 class="white m-t-6 bold left display-4 p-h-3">A day as a Quicksmart team member</h1>
                        <h5 class="white m-t-1 left p-h-3">Ut enim ad minim veniam, quis nostrud<br> exercitation ullamco laboris nisi ut aliquip<br> ex ea commodo consequat.</h5>
                     
            
               </div>
               <div class="col-md-6 m-t-4">
                <img src="../img/vika/design-company/picture-2.jpg" class="img-responsive rounded">
                
               </div>
            </div>
            </div>
            <div class="container m-t-6">
                <h1 class="bold black center">Benefits galore when you join</h1>
                <p class="center h6 font-weight-400 m-t-1 dark">Tortor at auctor urna nunc id. Sed elementum tempus egestas<br> sed sed risus pretium quam. At ultrices mi tempus.</p>
                <div class="row m-t-4">
                    <div class="col-md-6">
                        <div class="outline-light-grey black m05 p2">
                            <div class="d-flex left m1">
                                <svg viewBox="0 0 24 24" class="icon-info-fill icon-s">
                                    <path d="M7,15H9C9,16.08 10.37,17 12,17C13.63,17 15,16.08 15,15C15,13.9 13.96,13.5 11.76,12.97C9.64,12.44 7,11.78 7,9C7,7.21 8.47,5.69 10.5,5.18V3H13.5V5.18C15.53,5.69 17,7.21 17,9H15C15,7.92 13.63,7 12,7C10.37,7 9,7.92 9,9C9,10.1 10.04,10.5 12.24,11.03C14.36,11.56 17,12.22 17,15C17,16.79 15.53,18.31 13.5,18.82V21H10.5V18.82C8.47,18.31 7,16.79 7,15Z"></path>
                                </svg>
                            </div>
                            <h4 class="left bold black">Competitive Salary</h4>
                            <p class="dark left font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, RipenApps is the best place to acquire the same.</p>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="outline-light-grey black m05 p2">
                            <div class="d-flex left m1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-info-fill icon-s" viewBox="0 0 24 24">
                                    <path d="M11,9H9V2H7V9H5V2H3V9C3,11.12 4.66,12.84 6.75,12.97V22H9.25V12.97C11.34,12.84 13,11.12 13,9V2H11V9M16,6V14H18.5V22H21V2C18.24,2 16,4.24 16,6Z" />
                                </svg>
                            </div>
                            <h4 class="left bold black">Daily Meals</h4>
                            <p class="dark left font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, RipenApps is the best place to acquire the same.</p>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                        <div class="outline-light-grey black m05 p2">
                            <div class="d-flex left m1">
                                <svg viewBox="0 0 24 24" class="icon-info-fill icon-s">
                                    <path d="M4,6H20V16H4M20,18A2,2 0 0,0 22,16V6C22,4.89 21.1,4 20,4H4C2.89,4 2,4.89 2,6V16A2,2 0 0,0 4,18H0V20H24V18H20Z"></path>
                                </svg>
                            </div>
                            <h4 class="left bold black">Free Equipment</h4>
                            <p class="dark left font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, RipenApps is the best place to acquire the same.</p>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="outline-light-grey black m05 p2">
                            <div class="d-flex left m1">
                                <svg viewBox="0 0 24 24" class="icon-info-fill icon-s">
                                    <path fill="color-1" d="M12,17.5C14.33,17.5 16.3,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5M8.5,11A1.5,1.5 0 0,0 10,9.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 7,9.5A1.5,1.5 0 0,0 8.5,11M15.5,11A1.5,1.5 0 0,0 17,9.5A1.5,1.5 0 0,0 15.5,8A1.5,1.5 0 0,0 14,9.5A1.5,1.5 0 0,0 15.5,11M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path>
                                </svg>
                            </div>
                            <h4 class="left bold black">Team Retreats</h4>
                            <p class="dark left font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, RipenApps is the best place to acquire the same.</p>
                      </div>
                  </div>

                </div>
            </div>
            </div>
            <div class="h-75 d-flex  flex-column m-t-4" style="background-color: #041e39; border-radius: 0px 0px 220px 220px;  background-size: cover;">
                <h1 class="white bold center m-t-6">Open Positions</h1>
                <p class="h6 m-t-1 font-weight-400 center">Volutpat est velit egestas dui id ornare arcu odio.<br> Dignissim enim sit amet venenatis urna cursus eget. </p>
                <div class="container">
                    <div class="bg-white p-h-2 outline-color-grey m-v-1  p-v-1 m-h-4">
                        <strong class="">Front-End Developer</strong> 
                        <span class="float-right hover-underline">Contract, Canada</span>
                        </div>
                        <div class="bg-white p-h-2 outline-color-grey m-v-1 p-v-1 m-h-4">
                            <strong class="">Interface Designer</strong> 
                            <span class="float-right hover-underline">Full Time, New York</span>
                            </div>
                            <div class="bg-white p-h-2 outline-color-grey m-v-1 p-v-1 m-h-4">
                                <strong class="">Customer Support Specialist</strong> 
                                <span class="float-right hover-underline">Part Time, Remote</span>
                                </div>
                                <div class="bg-white p-h-2 outline-color-grey m-v-1 p-v-1 m-h-4">
                                    <strong class="">Python Developer</strong> 
                                    <span class="float-right hover-underline">Part Time, Remote</span>
                                    </div>
                                    <div class="bg-white p-h-2 outline-color-grey m-v-1 p-v-1 m-h-4">
                                        <strong class="">Front-End Developer</strong> 
                                        <span class="float-right hover-underline">Contract, Canada</span>
                                        </div>
                                        <p class="center h6 m-t-2">Didn’t see your dream job? <span class="info">Get in touch</span></p>
                      </div>
        </div>
        <footer class="p2 m-t-6 bg-white line-height-17">
            <div class="row color m-h-3 grey bold">
                <div class="col-md-4">
        
        
                    <a href="https://www.europeitoutsourcing.com"><img src="https://cssvars.com/wp-content/themes/AgileCSS/images/logo.png" alt="Europe IT Outsourcing Logo"></a>
                    <h6 class="footer-about left dark font-weight-600">CSS Vars framework is invented to provide all required elements with one small CSS file. </h6>
                    <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank" rel="noopener noreferrer"> 
                        <i class="icon-box  hover-shadow">
                                <svg viewBox="0 0 512 512" class="icon-color-grey-fill  icon-s">
                                        <path d="M381.384,198.639c24.157-1.993,40.543-12.975,46.849-27.876
                                                    c-8.714,5.353-35.764,11.189-50.703,5.631c-0.732-3.51-1.55-6.844-2.353-9.854c-11.383-41.798-50.357-75.472-91.194-71.404
                                                    c3.304-1.334,6.655-2.576,9.996-3.691c4.495-1.61,30.868-5.901,26.715-15.21c-3.5-8.188-35.722,6.188-41.789,8.067
                                                    c8.009-3.012,21.254-8.193,22.673-17.396c-12.27,1.683-24.315,7.484-33.622,15.919c3.36-3.617,5.909-8.025,6.45-12.769
                                                    C241.68,90.963,222.563,133.113,207.092,174c-12.148-11.773-22.915-21.044-32.574-26.192
                                                    c-27.097-14.531-59.496-29.692-110.355-48.572c-1.561,16.827,8.322,39.201,36.8,54.08c-6.17-0.826-17.453,1.017-26.477,3.178
                                                    c3.675,19.277,15.677,35.159,48.169,42.839c-14.849,0.98-22.523,4.359-29.478,11.642c6.763,13.407,23.266,29.186,52.953,25.947
                                                    c-33.006,14.226-13.458,40.571,13.399,36.642C113.713,320.887,41.479,317.409,0,277.828
                                                    c108.299,147.572,343.716,87.274,378.799-54.866c26.285,0.224,41.737-9.105,51.318-19.39
                                                    C414.973,206.142,393.023,203.486,381.384,198.639z"></path>
                                    </svg>
                            </i>
                    </a>
                    <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank" rel="noopener noreferrer"> 
                        <i class="icon-box  hover-shadow">
                                <svg viewBox="0 0 24 24" class="icon-color-dark-fill  icon-s">
                                    <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
                                </svg>
                            </i>
                    </a>
                    <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank" rel="noopener noreferrer"> 
                        <i class="icon-box  hover-shadow">
                                <svg viewBox="0 0 24 24" class="icon-color-dark-fill  icon-s">
                                        <path d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z"></path>
                                    </svg>
                            </i>
                    </a>
                    <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank" rel="noopener noreferrer"> 
                        <i class="icon-box  hover-shadow">
                                <svg viewBox="0 0 24 24" class="icon-color-dark-fill  icon-s">
                                        <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"></path>
                                    </svg>
                            </i>
                    </a>
        
                </div>
        
        
                <div class="col-md-2 color grey">
                        <p class="h6 black bold">Landing</p>
                        
                        <ul class="no-indent-ul">
                           <li><a href="https://cssvars.com/templates/landing-page-1.html" class="color grey">Landing 1</a></li>
                           <li><a href="https://cssvars.com/templates/landing-page-2.html" class="color grey">Landing 2</a></li>
                           <li><a href="https://cssvars.com/templates/landing-page-3.html" class="color grey">Landing 3</a></li>
                           <li><a href="https://cssvars.com/templates/landing-page-4.html" class="color grey">Landing 4</a></li>
                           <li><a href="https://cssvars.com/templates/landing-page-5.html" class="color grey">Landing 5</a></li>
                           <li><a href="https://cssvars.com/templates/landing-page-6.html" class="color grey">Landing 6</a></li>
                           <li><a href="https://cssvars.com/templates/landing-page-7.html" class="color grey">Landing 7</a></li>            
                            
                        </ul>
                     </div>
        
                     <div class="col-md-2">
                            <p class="h6 bold black">Corporate</p>
                            
                            <ul class="no-indent-ul">
                               <li><a href="https://cssvars.com/templates/corporate.html" class="color grey">Corporate</a></li>
                               <li><a href="https://cssvars.com/templates/corporate-1.html" class="color grey">Corporate 1</a></li>
                               <li><a href="https://cssvars.com/templates/corporate-2.html" class="color grey">Corporate 2</a></li>
                               <li><a href="https://cssvars.com/templates/corporate-3.html" class="color grey">Corporate 3</a></li>
                               <li><a href="https://cssvars.com/templates/corporate-4.html" class="color grey">Corporate 4</a></li>
                               <li><a href="https://cssvars.com/templates/law-firm.html" class="color grey">Law firm</a></li>
                            </ul>
                         </div>
        
        
        
                         <div class="col-md-2">
                                <p class="h6 bold black">Event</p>
                                <ul class="no-indent-ul">
                                    <li><a href="https://cssvars.com/templates/single-event.html" class="color grey"> Single Event</a></li>
                                    <li><a href="https://cssvars.com/templates/single-event-2.html" class="color grey">Single Event</a></li>
                                    <li><a href="https://cssvars.com/templates/event-list.html" class="color grey">Event List</a></li>
                                  
                                 </ul>
                             </div>
                             <div class="col-md-2">
                                <p class="h6 bold black">Basic</p>
                                
                                <ul class="no-indent-ul">
                                   <li><a href="https://cssvars.com/templates/about-us.html" class="color grey">About Us</a></li>
                                   <li><a href="https://cssvars.com/templates/about-me.html" class="color grey">About Me</a></li>
                                   <li><a href="https://cssvars.com/templates/contact-us.html" class="color grey">Contact Us</a></li>
                                   <li><a href="https://cssvars.com/templates/services.html" class="color grey">Services</a></li>
                                   <li><a href="https://cssvars.com/templates/faq.html" class="color grey">FAQ</a></li>
                                   <li><a href="https://cssvars.com/templates/job-opening.html" class="color grey">Job Opening</a></li>
                                </ul>
                             </div>
            
        
        
            </div>
        </div>
        </footer>
    </body>
</html>