<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
    </head>
    <body>
        <div class="h-100 d-flex  flex-column bga-info" style="background-image: url(../img/crypto.jpg); background-size: cover;">
            <div class="main-nav m-t-2  container-fluid">
                <div class="main-menu">
                    <svg viewBox="0 0 24 24" class="icon-dark-fill  icon-sm">
                        <path fill="color-1" d="M6,16.5L3,19.44V11H6M11,14.66L9.43,13.32L8,14.64V7H11M16,13L13,16V3H16M18.81,12.81L17,11H22V16L20.21,14.21L13,21.36L9.53,18.34L5.75,22H3L9.47,15.66L13,18.64"></path>
                    </svg>
        
                    <label for="toggle-1" class="toggle-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-dark-fill icon-s" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
        
        
                    </label>
                    <input type="checkbox" id="toggle-1">
        
    <nav class="nav m-h-7">
                        <ul class="font-weight-400">
                            <li><a href="#how-it-works" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">How it works</a></li>
                            <li><a href="#how-to-use" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">How to use</a></li>
                            <li><a href="#blog" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">Blog</a></li>
                            <li><a href="#contact" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="container m-t-4">
                    <div class="row">
                        <div class="col-md-7">
                           
                        </div>
                            <div class="col-md-5 p-l-3 m-t-6">
                                <h1 class="left dark display-3 bold">X-Coin: The next big Web3 digital currency</h1>
                            <p class="dark font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button class="button-m bg-warning bg-danger-hover">Get started with X-coin</button> <button class="outline-warning button-m warning" style="background-color: #49505700;">Buy X-coin</button>
                        </div>
                        
                    </div>
                    <div class="row m-t-6">
                        <div class="col-md-3 m-t-4">
                        <h5 class="font-weight-600 dark center">Treasure balance</h5>
                        <h3 class="bold dark center">$700,653,002</h3>
                        </div>
                        <div class="col-md-3 m-t-4">
                            <h5 class="font-weight-600 dark center">Current APY</h5> 
                            <h3 class="bold dark center">6,453%</h3>
                        </div>
                        <div class="col-md-3 m-t-4">
                            <h5 class="font-weight-600 dark center">Total Value Locked </h5> 
                            <h3 class="bold dark center">$2,753,765,331</h3>
                        </div>
                        <div class="col-md-3 m-t-4">
                            <h5 class="font-weight-600 dark center">% XCR Staked</h5> 
                            <h3 class="bold dark center">94%</h3> 
                        </div>
                    </div>
                </div>
                </div>  
            </div>
            </div>
            <div class="row m-v-10">
                <div class="col-md-6 m-t-4 p-h-4">
                    <h2 class="dark bold p-h-4 left">X-coin is the first Web3<br> digital currency with a<br> decentralized blockchain</h2>
                 <p class="dark font-weight-400 p-h-4 m-t-05 left">Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo<br> consequat. Duis aute irure dolor in reprehenderit<br> in voluptate velit esse cillum dolore eu fugiat<br> nulla pariatur.</p>
                 <button class="button-m bg-warning bg-danger-hover m-h-4">Get started with X-coin</button>
                </div>
                <div class="col-md-6">
                    <img src="../img/crypto-1.png" width="1340" height="1080" class="img-responsive">
                </div>
            </div>
    </body>
</html>