<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
    </head>
    <body>
        <div class="h-100 d-flex  flex-column bga-info" style="background-image: url(../img/crypto.jpg); background-size: cover;">
            <div class="main-nav m-t-2  container-fluid">
                <div class="main-menu">
                    <svg viewBox="0 0 24 24" class="icon-dark-fill  icon-sm">
                        <path fill="color-1" d="M6,16.5L3,19.44V11H6M11,14.66L9.43,13.32L8,14.64V7H11M16,13L13,16V3H16M18.81,12.81L17,11H22V16L20.21,14.21L13,21.36L9.53,18.34L5.75,22H3L9.47,15.66L13,18.64"></path>
                    </svg>
        
                    <label for="toggle-1" class="toggle-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-dark-fill icon-s" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
        
        
                    </label>
                    <input type="checkbox" id="toggle-1">
        
    <nav class="nav m-h-7">
                        <ul class="font-weight-400">
                            <li><a href="#how-it-works" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">How it works</a></li>
                            <li><a href="#how-to-use" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">How to use</a></li>
                            <li><a href="#blog" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">Blog</a></li>
                            <li><a href="#contact" class="bg-white-hover" style="color: #495057; font-weight: 600; letter-spacing: 0.1rem;">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="container m-t-4">
                    <div class="row">
                        <div class="col-md-7">
                           
                        </div>
                            <div class="col-md-5 p-l-3 m-t-6">
                                <h1 class="left dark display-3 bold">X-Coin: The next big Web3 digital currency</h1>
                            <p class="dark font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button class="button-m bg-warning bg-danger-hover">Get started with X-coin</button> <button class="outline-warning button-m warning" style="background-color: #49505700;">Buy X-coin</button>
                        </div>
                        
                    </div>
                    <div class="row m-t-6">
                        <div class="col-md-3 m-t-4">
                        <h5 class="font-weight-600 dark center">Treasure balance</h5>
                        <h3 class="bold dark center">$700,653,002</h3>
                        </div>
                        <div class="col-md-3 m-t-4">
                            <h5 class="font-weight-600 dark center">Current APY</h5> 
                            <h3 class="bold dark center">6,453%</h3>
                        </div>
                        <div class="col-md-3 m-t-4">
                            <h5 class="font-weight-600 dark center">Total Value Locked </h5> 
                            <h3 class="bold dark center">$2,753,765,331</h3>
                        </div>
                        <div class="col-md-3 m-t-4">
                            <h5 class="font-weight-600 dark center">% XCR Staked</h5> 
                            <h3 class="bold dark center">94%</h3> 
                        </div>
                    </div>
                </div>
                </div>  
            </div>
            </div>
            <div class="row m-v-10">
                <div class="col-md-6 m-t-4 p-h-4">
                    <h2 class="dark bold p-h-4 left">X-coin is the first Web3<br> digital currency with a<br> decentralized blockchain</h2>
                 <p class="dark font-weight-400 p-h-4 m-t-05 left">Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo<br> consequat. Duis aute irure dolor in reprehenderit<br> in voluptate velit esse cillum dolore eu fugiat<br> nulla pariatur.</p>
                 <button class="button-m bg-warning bg-danger-hover m-h-4">Get started with X-coin</button>
                </div>
                <div class="col-md-6">
                    <img src="../img/crypto-1.png" width="1340" height="1080" class="img-responsive">
                </div>
            </div>
            <div class="h-50 d-flex  flex-column bg-light-grey">
                <h1 class="dark bold display-2 center m-t-6">Sustainable Staking APY</h1>
                <h4 class="dark center font-weight-600 m-t-1">Enim eu turpis egestas pretium aenean. In hac habitasse<br> platea dictumst vestibulum rhoncus.</h4>
            </div>
            <div class="container m-t-4">
                <div class="row">
                    <div class="col-md-6 m-t-4">
                       <img src="../img/crypto-2.png" class="img-responsive">
                    </div>
                        <div class="col-md-6  m-t-6">
                            <h1 class="left dark  bold">X-coin and the blockchain</h1>
                        <p class="dark font-weight-400 left m-t-05">Purus semper eget duis at tellus. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla. Sodales ut etiam sit amet nisl.</p>
                        <button class="button-m bg-warning bg-danger-hover m-t-2">Get started with X-coin</button> 
                    
                </div>
                </div>
                </div>
                <footer class="p2 m-t-6 bg-dark line-height-17">
                    <h1 class="white font-weight-600 center m-t-4">Trusted by</h1>
                    <div class="m-h-7">
                <div class="row  m-t-4 m-h-7">
                    <div class="col-md-3 center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-white-fill  icon-m" viewBox="0 0 16 16"> 
                            <path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"></path> 
                        </svg>
                        <h4 class="white font-weight-400 m-t-05">Windows</h4>
                    </div>
                    <div class="col-md-3 center">
                       
                            <svg viewBox="0 0 24 24" class="icon-white-fill  icon-m">
                            <path fill="color-1" d="M3,20.5V3.5C3,2.91 3.34,2.39 3.84,2.15L13.69,12L3.84,21.85C3.34,21.6 3,21.09 3,20.5M16.81,15.12L6.05,21.34L14.54,12.85L16.81,15.12M20.16,10.81C20.5,11.08 20.75,11.5 20.75,12C20.75,12.5 20.53,12.9 20.18,13.18L17.89,14.5L15.39,12L17.89,9.5L20.16,10.81M6.05,2.66L16.81,8.88L14.54,11.15L6.05,2.66Z"></path>
                        </svg>
                        <h4 class="white font-weight-400 m-t-05">Google play</h4>  
                    </div>
                    <div class="col-md-3 center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-white-fill  icon-m" viewBox="0 0 24 24">
                            <path d="M6.5,2H10.5L13.44,10.83L13.5,2H17.5V22C16.25,21.78 14.87,21.64 13.41,21.58L10.5,13L10.43,21.59C9.03,21.65 7.7,21.79 6.5,22V2Z"></path>
                        </svg>
                        <h4 class="white font-weight-400 m-t-05">Netflix</h4> 
                    </div>
                    <div class="col-md-3 center">
                        <svg viewBox="0 0 24 24" class="icon-white-fill  icon-m">
                            <path fill="color-1" d="M18.71,19.5C17.88,20.74 17,21.95 15.66,21.97C14.32,22 13.89,21.18 12.37,21.18C10.84,21.18 10.37,21.95 9.1,22C7.79,22.05 6.8,20.68 5.96,19.47C4.25,17 2.94,12.45 4.7,9.39C5.57,7.87 7.13,6.91 8.82,6.88C10.1,6.86 11.32,7.75 12.11,7.75C12.89,7.75 14.37,6.68 15.92,6.84C16.57,6.87 18.39,7.1 19.56,8.82C19.47,8.88 17.39,10.1 17.41,12.63C17.44,15.65 20.06,16.66 20.09,16.67C20.06,16.74 19.67,18.11 18.71,19.5M13,3.5C13.73,2.67 14.94,2.04 15.94,2C16.07,3.17 15.6,4.35 14.9,5.19C14.21,6.04 13.07,6.7 11.95,6.61C11.8,5.46 12.36,4.26 13,3.5Z"></path>
                        </svg>
                        <h4 class="white font-weight-400 m-t-05">Apple</h4> 
                    </div>
                   
                </div>
                <h1 class="center white font-weight-600 m-t-6">Get started with X-Coin today</h1>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 m-t-2">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email to sign up for newsletter">
                          </div>
                    </div>
                    <div class="col-md-2 m-t-1">
                   
                    </div>
                </div>
                
                  </div>
                 
                  <div class="d-inline container">
                    <div class="center m-t-4">
                   
                        <a href="#x-coin" class="p-h-1" style="color: white; font-weight: 400;">X-Coin</a>
                  
                  
                        <a href="#how-it-works" class="p-h-1" style="color: white; font-weight: 400;">How it works</a> 
                       
                            <a href="#how-to-use" class="p-h-1" style="color: white; font-weight: 400;">How to use</a>
            
                        
                            <a href="#blog" class="p-h-1" style="color: white; font-weight: 400;">Blog</a>
                    
                    </div>
                    </div>
                    <div class="d-inline container">
                        <div class="center">
                       
                            <a href="#hosted-service" class="p-h-1" style="color: white; font-weight: 400;">Hosted Service</a>
                      
                      
                            <a href="#partnership-request" class="p-h-1" style="color: white; font-weight: 400;">Partnership  Request</a> 
                           
                                <a href="#privacy-policy" class="p-h-1" style="color: white; font-weight: 400;">Privacy Policy</a>
                
                            
                                <a href="#terms-of-use" class="p-h-1" style="color: white; font-weight: 400;">Terms of Use</a>
                        
                        </div>
                        </div>
                  </div>
                </footer>   
    </body>
</html>