<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page descrpition">
    <meta name="author" content="Kim Majali">
    <meta name="copyright" content="MIT license, Europe IT Outsourcing, https://www.europeitoutsourcing.com/">


    <title>Dentistry - CSS Vars Free HTML Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#FF530D">

    <link rel="stylesheet" href="../css/cssvars.css">


    <style>
    .nav ul li a{
        color:#495057;
        font-weight: 600;
    }
   
        .vl {
    border-left: 3px solid  #ccc;;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

    </style>

</head>

<body>
    <div class="main-nav container-fluid  p-t-1 bg-light-grey">
        <div class="main-menu">
            <a href="#" target="_blank" rel="noopener noreferrer"><h3 class="info logo bold">Medic Care</h3>
            </a>
      
            <label for="toggle-1" class="toggle-menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-s" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
      
      
            </label>
            <input type="checkbox" id="toggle-1">
      
            <nav class="nav">
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#timeline">Timeline</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#booking">Booking</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
      
      </div>  
      <div class="row" id="carousel">
        <div class="carousel carousel-small-img p0">
            <input type="radio" name="slides" id="radio-1" class="radio-1" checked="">
            <input type="radio" name="slides" id="radio-2" class="radio-2">
            <ul class="slides m0 " style="padding: 0; ">
                <li class="slide">
                    <div class="h-100 d-flex flex-column justify-content-end p-v-3" style="background-image: url('../img/vika/dentistry/doctors.jpg'); background-size: cover;">
                        <div class="container left topmargin row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 m-t-6">
                                <div class="section bg-white m-v-4 p-v-1">
                                <p class="h1 font-weight-600 left black m-l-3">Better <span class="info">days</span></p>
                                <p class="m0 dark m-l-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere morbi leo urna molestie at elementum eu facilisis sed. Consectetur adipiscing elit duis tristique sollicitudin nibh.
                                </p>
                                <div class="">
                                    <a href="#" class="button button-m d-inline m-t-1 font-weight-200 outline-color-info info bg-white m-l-3">Learn More</a>
                                    <p class="dark d-inline font-weight-600 m-l-2"> +123 456 789 10</p>
                                    
                                </div>

                            </div>
                        </div>
                        </div>
                    </div>


                </li>
                <li class="slide">
                    <div class="h-100 d-flex flex-column justify-content-end p-v-3" style="background-image: url('../img/vika/dentistry/teeth.jpg'); background-size: cover;">
                        <div class="container left topmargin row">
                            <div class="col-md-6 m-t-6">
                                <div class="section bg-white m-v-4 p-v-1">
                                    <p class="h1 font-weight-600 left black m-l-3">Better <span class="info">lives</span></p>
                                    <p class="m0 dark m-l-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere morbi leo urna molestie at elementum eu facilisis sed. Consectetur adipiscing elit duis tristique sollicitudin nibh.
                                    </p>
                                    <div class="">
                                        <a href="#" class="button button-m d-inline m-t-1 font-weight-200 outline-color-info info bg-white m-l-3">Learn More</a>
                                        <p class="dark d-inline font-weight-600 m-l-2"> +123 456 789 10</p>
                                        
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-md-6">
                               
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="slidesNavigation p-v-2">
                <label for="radio-1" id="dotForRadio-1"></label>
                <label for="radio-2" id="dotForRadio-2"></label>
               
            </div>
        </div>
    </div>
    <div class="container row m-t-6">
<div class="col-md-6">
<h2 class="black font-weight-600">Meet Dr. Carson</h2>
<p class="dark h6 left m-t-05">Condimentum lacinia quis vel eros donec ac odio. Orci dapibus ultrices in iaculis nunc sed augue lacus. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Massa sed elementum tempus egestas sed sed. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Et ligula ullamcorper malesuada proin. </p>
<p class="dark left h6 m-t-1">Ut tortor pretium viverra suspendisse potenti. Enim nec dui nunc mattis enim ut tellus. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Dignissim convallis aenean et tortor at. </p>
</div>
<div class="col-md-6 m-t-2">
    <div class="shadow-color-3 m05 p1 circle">
        <div class="p-v-1">
            <h1 class="info display-1 center font-weight-600 p-v-3">12<span class="dark font-weight-600 m-l-1  h5">Years of Experiences</span></h1>
          
        </div>
    </div>
</div>
    </div>
    <div class="container row m-t-6">
        <div class="col-md-6">
            <img src="../img/dentistry-1.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
        <img src="../img/dentistry-2.jpg"   class="img-responsive">
                </div>
            </div>
        </div>
            </div>
            <div class="container m-t-6">
                <h1 class="center black font-weight-600">Our Timeline</h1>
                <div class="row m-t-4">
                    <div class="col-md-5">
                        <div class="shadow-color-3">
                            <div class="bg-black">
                            <h3 class="white font-weight-600 center">Get the vaccine</h3>
                              <div class="section bg-white p-t-05 left">
                                <p class="dark m-h-1 p-v-1">Tortor id aliquet lectus proin nibh. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        
<div class="vl"></div>
                    </div>
                    <div class="col-md-3">
<p class="black h6 left font-weight-400 m-t-2">2023-07-31 Saturday </p>
                    </div>
                </div>
                 
               
            </div>
            <div class="container">
                <div class="row m-t-4">
                    <div class="col-md-3">
                        <p class="black h6 left font-weight-400 m-t-2">2023-07-31 Saturday </p>
                    </div>
                    <div class="col-md-2">
                        
<div class="vl"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="shadow-color-3">
                            <div class="bg-black">
                            <h3 class="white font-weight-600 center">Get the vaccine</h3>
                              <div class="section bg-white p-t-05 left">
                                <p class="dark m-h-1 p-v-1">Tortor id aliquet lectus proin nibh. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
               
            </div>
</body>

</html>