<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
        <style>
            body{
                font-family: "Noto Color Emoji";
                background-color: rgba(var(--color-2-rgb), 0.1);
            }
        </style>
    </head>
    <body>
        <div class="d-flex  flex-column  bg-color-2" style="background-size: cover;">
            <div class="main-nav m-t-2  container-fluid">
                <div class="main-menu m-h-4">
                    <a href="#" id="logo1" target="_blank" rel="noopener noreferrer"><h1 class="logo white bold ">Food Blog</h1></a>
        
                    <label for="toggle-1" class="toggle-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-white-fill icon-s" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
        
        
                    </label>
                    <input type="checkbox" id="toggle-1">
        
    <nav class="nav m-h-4">
                        <ul class="font-weight-400">
                            <li><a href="#home" style="color:white; letter-spacing: 0.1rem; text-transform: uppercase;">Home</a></li>
                            <li><a href="#recipes" style="color:white; letter-spacing: 0.1rem; text-transform: uppercase;">Recipes</a></li>
                            <li><a href="#tips" style="color:white; letter-spacing: 0.1rem; text-transform: uppercase;">Tips</a></li>
                            <li><a href="#contact" style="color:white; letter-spacing: 0.1rem; text-transform: uppercase;">Contact</a></li>
                            
                        </ul>
                    </nav>
                </div>
                </div>
                <div class="row m-v-4 m-h-2">
                    <div class="col-md-5 m-t-4">
<h1 class="white display-2 font-weight-600 text-uppercase left m-l-2">Pancakes<br> Magic</h1>
<h4 class="white font-weight-400 m-l-2">5 tips how to make<br> the best  pancakes in the<br> game </h4>
<hr class="col-7 m-l-2">
<a href="#"><h6 class="m-l-2" style="letter-spacing: 0.1rem;"> <span class="badge outline-white bg-success-hover white">How to</span> <span class="badge outline-white white bg-success-hover m-l-05">Baking</span><span class="small white p-l-3">12 min read</span></h6></a>
<button class="button  rounded bg-black m-l-2 m-t-05 text-uppercase bg-danger-hover">Read now</button>
                    </div>
                    <div class="col-md-7 m-t-2">
                      <img src="../img/vika/restaurant/sweets.jpg" class="img-responsive circle"> 
                    </div>
                </div>
                </div>
                <div class="row p-v-2 container p-h-4">
                    <div class="col-md-6 m-v-1">
                        <div class="center bg-white rounded">
                            <h3 class="left color-2 p-h-1 p-v-1">Gift guide for foodies</h3>
                            <img src="../img/vika/restaurant/cookies.jpg" alt="alttext" class="img-responsive" style="border-bottom-color: #3b5998">
                            <div class="p-h-1 center">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h5 class="left"><span class="badge outline-black bg-success-hover black left m-t-05">Products</span></h5>
                                    </div>
                                    <div class="col-md-3">
                                       <p class="dark m-t-1">15 min read</p>
                                    </div>
                                </div>
                                
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4 p-h-2">
                                    <img src="../img/vika/mark-joe-1.jpg" class="circle icon-m">
                                </div>
                
                                <div class="col-4 p-v-1">
                                    <span class="font-weight-600"> Mark Joe<br><span class="dark">April 25, 2023</span>
                                    </span>
                                </div>
                            </div>
                     

                    </div>
                </div>     
    </body>
</html>