<!doctype html>
<html lang="en">
    <head>
        <title>Food Delivery - CSS Vars Free HTML Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
    </head>
    <body>
    
            <div class="main-nav">
                <div class="container fluid m-t-1">
                    <div class="main-menu p-v-1">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" class="icon-m icon-color-1-fill" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M11 9H9V2H7v7H5V2H3v7c0 2.12 1.66 3.84 3.75 3.97V22h2.5v-9.03C11.34 12.84 13 11.12 13 9V2h-2v7zm5-3v8h2.5v8H21V2c-2.76 0-5 2.24-5 4z"/></svg>
                        </a>
                        <span class="float-right">
                            <a href="#" class="button button-m d-inline font-weight-200 white  outline-color-white p-h-2">
                               Sign in
                            </a>
                            <a href="#" class="button button-m d-inline font-weight-200 color-1 outline-color-1 bg-white  outline-color-1  p-h-2">
                                Sign up
                            </a>
                        </span>
                    </div>
                </div>
            </div>
      
        
        <div class="container row m-t-6">
            <div class="col-md-2">
                <img src="../img/food-1.jpg" class="img-responsive">
            </div>
            <div class="col-md-8">
            <h1 class="color-1 display-2 font-weight-600 center">The quickest way to<br> find the perfect bite</h1>
            </div>
            <div class="container-fluid row"> 
                <div class="col-md-2"></div>  
                <div class="col-md-6  m-v-1">
                    <div class="form-group">
                        <input type="address" class="form-control" id="exampleInputAddress1" aria-describedby="addressHelp" placeholder="Delivery address">
                    </div>
                </div>
   
                <div class="col-md-2 m-v-1 center">
                    <a href="#" class="col-10 button button-sm bg-color-1 font-weight-200 h6 m0" target="_blank">Search</a>
                </div>
                <div class="col-md-2">
                    <img src="../img/food-1.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <hr class="col-10 m0 m-h-7">
        <h1 class="left m-h-7 m-t-1 font-weight-600 m0">How it works</h1>
        
        <hr class="col-10 m0 m-h-7 m-t-1">
        <div class="container row m-t-4">
            <div class="col-md-4 left">
                <img src="../img/food-2 2.jpg" class="img-responsive">
<h3 class="font-weight-600 left">Step 1</h3>
<p class="left m-t-05 color-1 font-weight-400">Enter your location. Type in your<br> address, or pin your location by<br> enabling location services.</p>
            </div>
            <div class="col-md-4">
            
                <img src="../img/food-2.jpg" class="img-responsive">
                <h3 class="font-weight-600 left m-t-1">Step 2</h3>
                <p class="left m-t-05 color-1 font-weight-400">Now select a restaraunt  and a<br> menu item. You're one step<br> closer to the perfect quick bite.</p>
            </div>
            <div class="col-md-4">
               
                <img src="../img/food-3.jpg" class="img-responsive">
                <h3 class="font-weight-600 left">Step 3</h3>
                <p class="left m-t-05 color-1 font-weight-400">Settle your payment. Then, sit<br> back and relax as we make<br> your food ready!</p>
            </div>
        </div>
        <hr class="col-10 m0 m-h-7 m-t-1">
        <h1 class="left m-h-7 m-t-1 font-weight-600 m0">Work with Quick Delivery</h1>
        <hr class="col-10 m0 m-h-7 m-t-1">
        <div class="row m-h-7">
            <div class="col-md-7">
<img src="../img/food-4.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
<h2 class="color-1 font-weight-600 m-t-6">As a rider</h2>
<p class="color-1 m-t-1 font-weight-400">Earn  money by delivering  food<br> from restaraunts. All you need<br> are skills and a bike.</p>
<a href="#" class="button button-m d-inline font-weight-200 color-1 outline-color-1 bg-white  outline-color-1  p-h-2">
    Ride with us
</a>
            </div>
        </div>
        <hr class="col-10 m0 m-h-7">
        <div class="row m-h-7">
            <div class="col-md-7">
<img src="../img/food-5.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
<h2 class="color-1 font-weight-600 m-t-6">As a partner</h2>
<p class="color-1 m-t-1 font-weight-400">Quick Delivery help restaraunts<br> grow with online ordering,loyalty<br>programs, and more.</p>
<a href="#" class="button button-m d-inline font-weight-200 color-1 outline-color-1 bg-white  outline-color-1  p-h-2">
    Partner with us
</a>
            </div>
        </div>
        <hr class="col-10 m0 m-h-7">
        <div class="row m-h-7">
            <div class="col-md-7">
<img src="../img/food-6.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
<h2 class="color-1 font-weight-600 m-t-6">As a colleague</h2>
<p class="color-1 m-t-1 font-weight-400">Be part of a team that's<br>building a top-notch delivery<br> service.</p>
<a href="#" class="button button-m d-inline font-weight-200 color-1 outline-color-1 bg-white  outline-color-1  p-h-2">
    Work with us
</a>
            </div>
        </div>
        <hr class="col-10 m0 m-h-7 m-t-2">
        <h1 class="left m-h-7 m-t-1 font-weight-600 m0">Download our app</h1>
        <hr class="col-10 m0 m-h-7 m-t-1">
        <div class="row m-h-7">
            <div class="col-md-5">
                <h2 class="color-1 font-weight-600 m-t-6">Order easily!</h2>
                <p class="color-1 m-t-1 font-weight-400">Get the most delicious bites delivered to<br> your door with  "Quick Delivery". Our fastest<br> delivery service carries a variety of cuisines<br> from local restaraunts. </p>
                    <a href="#" class="button button-m d-inline font-weight-200 white  outline-color-white p-h-2">
                       Download
                    </a>
            </div>
            <div class="col-md-7">
                <img src="../img/food-7.jpg" class="img-responsive">

            </div>
        </div>
        <hr class="col-10 m0 m-h-7">
        
        <div class="container-fluid m-t-6 bg-color-1 row color-1 p-v-3">
            <div class="col-md-3">
    <h1 class="white font-weight-400">Quick<br> Delivery</h1>
    
               </div>
               <div class="col-md-3 m-t-1">
                <ul class="no-indent-ul">
                    <li><a href="home" class="white font-weight-400 h6">Read our blog</a></li>
                    <li><a href="apartments" class="white font-weight-400 h6">Buy gift card</a></li>
                    <li><a href="about-us" class="white font-weight-400 h6">Restaraunts nearby</a></li>
                    <li><a href="blog" class="white font-weight-400 h6">Save on first order</a></li>
                 </ul>
            </div>
    
    
            <div class="col-md-3 m-t-1">
                    <ul class="no-indent-ul">
                        <li><a href="instagram" class="white font-weight-400 h6">Instagram</a></li>
                        <li><a href="facebook" class="white font-weight-400 h6">Facebook</a></li>
                        <li><a href="twitter" class="white font-weight-400 h6">Twitter</a></li>
                        <li><a href="pinterest" class="white font-weight-400 h6">Pinterest</a></li>
                      
                    </ul>
                 </div>
    
                 <div class="col-md-3">
                      
                       
                        <ul class="no-indent-ul m-t-1">
                           <li><a href="our-story" class="white font-weight-400 h6">Terms of Service</a></li>
                           <li><a href="careers" class="white font-weight-400 h6">Privacy Policy</a></li>
                                 
                            </ul>
                     </div>
    
    <div class="col-md-3">
    
    </div>
    
                   
    

    </div>
    </body>
</html>
