<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
    </head>
    <body>
        <div class=" position-absolute top-0 left-0 w-100 opacity07">
            <div class="main-nav">
                <div class="container">
                    <div class="main-menu p-v-1">
                        
    
                        <label for="toggle-1" class="toggle-menu">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-white-fill icon-s" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
    
    
                        </label>
                        <input type="checkbox" id="toggle-1">
    
                        <nav class="nav">
                            <ul class="font-weight-600 text-uppercase">
                                <li><a href="#home" style="color:white">home</a></li>
                                <li><a href="#features"  style="color:white">features</a></li>
                                <li><a href="#pricing"  style="color:white">pricing</a></li>
                                <li><a href="#testimonials"  style="color:white">templates</a></li>
                                <li><a href="#specifications"  style="color:white">sections</a></li>
                             
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-100 d-flex flex-column justify-content-center bg-light-grey" style="background-image: url('../img/vika/design-company/parallax.jpg'); background-size: cover;" id="home">
            <div class="row m-t-2 p-v-4 m-h-3">
                <div class="col-md-6">
                   <h1 class="white bold display-2 center">Establish an<br> online presence</h1>
                   <p class="h6 white font-weight-400 center">CSS Vars is a complete design system</p>
                   <div class="center">            
                    <a href="https://github.com/majalinet/Agile-CSS" class="button button-lg bg-success d-inline-" style="background-color: #005450;" target="_blank">Download</a>
                    <a href="https://agilecss.com/docs/quick-start/" class="button success button-lg d-inline- outline-color-success bg-white">Learn more</a>
            
            </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            
        </div>
        <div class=" center d-flex flex-column justify-content-center white" style="height: 450px; background-color: #005450;">
            <h1 class="white center bold display-3">Your partners in design.</h1>
           <p class="center white font-weight-600 m-t-1">Sed risus ultricies tristique nulla aliquet enim tortor at. Nibh praesent tristique<br> magna sit. Tincidunt arcu non sodales neque sodales ut etiam.</p>
           <div class="center">            
            <a href="#" class="button button-lg m-t-1 d-inline-" style="background-color: #08736d;" target="_blank">Learn More</a>
            </div>
        </div>
        <div class="container m-t-6">
            <div class="row">
                <div class="col-md-6">
<img src="../img/vika/restaurant/cook.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h1 class="black center bold left display-3 m-t-4 m-l-3" style="font-family: Segoe UI Emoji">We partner with<br> your business</h1>
                    <p class="dark font-weight-400 m-l-3 h6 left">Eget nunc lobortis mattis aliquam faucibus purus<br> in massa.Donec ultrices tincidunt arcu non<br> sodales neque sodales ut etiam.</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" class="icon-ml m-l-3 icon-success-fill" viewBox="0 0 24 24" width="24px">
                        <path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14h-2V9h-2V7h4v10z"/>
                    </svg>
                    <p class="left">Risus feugiat in ante metus dictum at tempor commodo. </p>
                </div>
            </div>
        </div>
    </body>
</html>