<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page descrpition">
    <meta name="author" content="Kim Majali">
    <meta name="copyright" content="MIT license, Europe IT Outsourcing, https://www.europeitoutsourcing.com/">


    <title>Our Office - CSS Vars Free HTML Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#FF530D">

    <link rel="stylesheet" href="../css/cssvars.css">

    <style>
        :root {
            --color-1: #222225;
            --color-2: #1bbc9c;
        }
    </style>

</head>

<body>
    <header>
        <div class="main-nav">
            <div class="main-menu">
                <a href="#">
                <label for="toggle-1" class="toggle-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-s" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>


                </label>
                <input type="checkbox" id="toggle-1">

                <nav class="nav">
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>
    <h1 class="bold black center m-t-4">Our office space</h1>
    <main class="container m-t-2">

        <div class="carousel container">
            <input type="radio" name="slides" id="radio-1" class="radio-1" checked="">
            <input type="radio" name="slides" id="radio-2" class="radio-2">
            <ul class="slides m-v-1">
                <li class="slide">
                    <img src="../img/vika/office/office.jpg" class="img-responsive">
                </li>
                <li class="slide">
                    <img src="../img/vika/office/office-1.jpg" class="img-responsive">
                </li>
            </ul>
            <div class="slidesNavigation">
                <label for="radio-1" id="dotForRadio-1"></label>
                <label for="radio-2" id="dotForRadio-2"></label>
            </div>
        </div>

        <hr style="margin-bottom: 2rem;">
        <section class="container">
            <div class="">
                <div class="row">
                    <div class="col-md-7">
                        <h4 class="font-weight-400">A place where amazing things <span class="bold">Get Done!</span>
                        </h4>
                        <p class="h6 black m-v-1 left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                            feugiat
                            urna
                            arcu, vel molestie nunc commodo non. Nullam vestibulum odio vitae fermentum rutrum. Lorem
                            ipsum
                            dolor sit amet, consectetur adipiscing elit. Ut feugiat urna arcu.
                        </p>
                        <p class="left">Mauris lobortis nulla ut aliquet interdum. Donec commodo ac elit sed placerat.
                            Mauris
                            rhoncus est ac sodales gravida. In eros felis, elementum aliquam nisi vel, pellentesque
                            faucibus
                            nulla. Mauris lobortis nulla ut aliquet interdum. Donec commodo ac elit sed placerat. Mauris
                            rhoncus est ac sodales gravida.
                        </p>
                        <div class="row m-v-1">
                            <div class="col-md-6 p0">
                                <svg viewBox="0 0 24 24" class="m-h-05 icon-s img-responsive icon-color-2-fill">
                                    <path
                                        d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z">
                                    </path>
                                </svg>
                                <h6 class="d-inline color-2 font-weight-400">12 years in business</h6>
                                <p class="left m-v-1" style="margin-left: 3rem;">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing metus. elit. Quisque rutrum
                                    pellentesque imperdiet.</p>
                            </div>
                            <div class="col-md-6 p0">
                                <svg viewBox="0 0 24 24" class="m-h-05 icon-s img-responsive icon-color-2-fill">
                                    <path
                                        d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z">
                                    </path>
                                </svg>
                                <h6 class="d-inline color-2 font-weight-400">Loved by customers</h6>
                                <p class="left m-v-1" style="margin-left: 3rem;">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <h5 class="font-weight-400">Work <span class="bold">Space</span></h5>
                        <div class="row m-v-2">
                            <div class="col-md-4">
                                <img src="../img/vika/office/office.jpg" class="img-responsive bordered">
                            </div>
                            <div class="col-md-4">
                                <img src="../img/vika/office/office-2.jpg" class="img-responsive bordered">
                            </div>
                            <div class="col-md-4">
                                <img src="../img/vika/office/office-1.jpg" class="img-responsive bordered">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h5 class="font-weight-400">Our <span class="bold">Location</span></h5>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.0995438058467!2d36.32569397172177!3d50.028230542620506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a7655bee7ecd%3A0xade22c5c2ba08ae2!2sKaravan+Mall!5e0!3m2!1sen!2sua!4v1540825240830"
                            allowfullscreen="" style="border: 0;" class="rounded m-v-2" width="100%" height="50%">
                        </iframe>
                        <div class="m-v-1">
                            <div class="m-v-07">
                                <i class="icon-box circle d-inline icon-color-2-bg hover-grey">
                                    <svg viewBox="0 0 24 24" class="icon-xs m0" style="margin: 0.1rem;">
                                        <path fill="#fff"
                                            d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z">
                                        </path>
                                    </svg>
                                </i>
                                <p class="d-inline m-h-05"><span class="font-weight-400">
                                        Address:</span> Svobody Square, 8, Kharkiv, Ukraine
                                </p>
                            </div>
                            <div class="m-v-07">
                                <i class="icon-box circle d-inline icon-color-2-bg hover-grey">
                                    <svg viewBox="0 0 24 24" class="icon-xs m0" style="margin: 0.1rem;">
                                        <path fill="#fff"
                                            d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z">
                                        </path>
                                    </svg>
                                </i>
                                <p class="d-inline m-h-05"><span class="font-weight-400">
                                        Phone:</span> +380 96 926 5003
                                </p>
                            </div>
                            <div class="m-v-07">
                                <i class="icon-box circle d-inline icon-color-2-bg hover-grey">
                                    <svg viewBox="0 0 24 24" class="icon-xs m0" style="margin: 0.1rem;">
                                        <path fill="#fff"
                                            d="M4,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4M12,11L20,6H4L12,11M4,18H20V8.37L12,13.36L4,8.37V18Z">
                                        </path>
                                    </svg>
                                </i>
                                <p class="d-inline m-h-05"><span class="font-weight-400">
                                        Email:</span> info@europeitoutsourcing.com
                                </p>
                            </div>
                        </div>
                        <hr>
                        <h5 class="font-weight-400">Business <span class="bold">Hours</span></h5>
                        <div class="m-v-2">
                            <div class="m-v-05">
                                <svg viewBox="0 0 24 24" class="icon-color-2-fill icon-s img-responsive">
                                    <path d="M12,8A4,4 0 0,0 8,12A4,4 0 0,0 12,16A4,4 0 0,0 16,12A4,4 0 0,0 12,8Z" />
                                </svg>
                                <p class="d-inline">Monday - Friday / 8:00am to 5:00pm</p>
                            </div>
                            <div class="m-v-05">
                                <svg viewBox="0 0 24 24" class="icon-color-2-fill icon-s img-responsive">
                                    <path d="M12,8A4,4 0 0,0 8,12A4,4 0 0,0 12,16A4,4 0 0,0 16,12A4,4 0 0,0 12,8Z" />
                                </svg>
                                <p class="d-inline">Saturday / Closed</p>
                            </div>
                            <div class="m-v-05">
                                <svg viewBox="0 0 24 24" class="icon-color-2-fill icon-s img-responsive">
                                    <path d="M12,8A4,4 0 0,0 8,12A4,4 0 0,0 12,16A4,4 0 0,0 16,12A4,4 0 0,0 12,8Z" />
                                </svg>
                                <p class="d-inline">Sunday / Closed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <footer class="bg-dark p2 line-height-17" style="margin-top: 20rem;">
        <div class="container-fluid row white">
            <div class="col-md-6 col-lg-3">
                <a href="#">
                    <svg alt="Agile Logo" class="icon-color-2-fill  icon-ml" xmlns="http://www.w3.org/2000/svg"
                        viewbox="0 0 30.17 37.71">
                        <defs>
                            <style>
                                .cls-2 {
                                    font-size: 34px;
                                    fill: #fff;
                                    font-family: Montserrat-Thin, Montserrat;
                                    letter-spacing: 0.01em;
                                }
                            </style>
                        </defs>
                        <title>Agile logo</title>
                        <g>
                            <g>
                                <rect class="cls-1" y="1.53" width="30.17" height="30.17" rx="1.12" ry="1.12" />
                                <text class="cls-2" transform="translate(3.33 28.9)">A</text></g>
                        </g>
                    </svg>
                </a>
                <p class="footer-about">Europe IT Outsourcing is your team of expert and certified professionals,
                    accompanied with many well-trained professionals, and 10's of essential tools to grow your
                    business
                    by applying the most effective development, design, and marketing techniques.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <p class="h4 white">Company</p>
                <hr>
                <ul style="list-style-type:none">
                    <li><a href="https://www.europeitoutsourcing.com/company/about/" class="white">Who We Are</a>
                    </li>
                    <li><a href="https://www.europeitoutsourcing.com/services/" class="white">Services</a></li>
                    <li><a href="https://www.europeitoutsourcing.com/careers/" class="white">Careers</a></li>
                    <li><a href="https://www.europeitoutsourcing.com/blog/" class="white">Blog</a></li>
                    <li><a href="https://www.europeitoutsourcing.com/company/contact-us/" class="white"> Contact
                            us</a>
                    </li>
                    <li><a href="https://www.europeitoutsourcing.com/company/partnership/" class="white">Partnership</a>
                    </li>
                    <li><a href="https://www.europeitoutsourcing.com/company/privacy-policy/" class="white">Privacy
                            Policy</a></li>
                    <li><a href="#get-quote" class="white">Get A Free Consultation</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3 white">
                <p class="h4 white">Services</p>
                <hr>
                <ul style="list-style-type:none">
                    <li><a href="https://www.europeitoutsourcing.com/company/about/" class="white">Who We Are</a>
                    </li>
                    <li><a href="https://www.europeitoutsourcing.com/services/" class="white">Services</a></li>
                    <li><a href="https://www.europeitoutsourcing.com/careers/" class="white">Careers</a></li>
                    <li><a href="https://www.europeitoutsourcing.com/blog/" class="white">Blog</a></li>
                    <li><a href="https://www.europeitoutsourcing.com/company/contact-us/" class="white"> Contact
                            us</a>
                    </li>
                    <li><a href="https://www.europeitoutsourcing.com/company/partnership/" class="white">Partnership</a>
                    </li>
                    <li><a href="https://www.europeitoutsourcing.com/company/privacy-policy/" class="white">Privacy
                            Policy</a></li>
                    <li><a href="#get-quote" class="qoute white">Get A Free Consultation</a></li>
                </ul>
            </div>



            <div class="col-md-6 col-lg-3 white">
                <p class="h4 white">Connect</p>
                <hr>
                <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank">
                    <i class="icon-box  hover-shadow">
                        <svg viewBox="0 0 512 512" class="icon-color-2-fill  icon-s">
                            <path d="M381.384,198.639c24.157-1.993,40.543-12.975,46.849-27.876
                                                                c-8.714,5.353-35.764,11.189-50.703,5.631c-0.732-3.51-1.55-6.844-2.353-9.854c-11.383-41.798-50.357-75.472-91.194-71.404
                                                                c3.304-1.334,6.655-2.576,9.996-3.691c4.495-1.61,30.868-5.901,26.715-15.21c-3.5-8.188-35.722,6.188-41.789,8.067
                                                                c8.009-3.012,21.254-8.193,22.673-17.396c-12.27,1.683-24.315,7.484-33.622,15.919c3.36-3.617,5.909-8.025,6.45-12.769
                                                                C241.68,90.963,222.563,133.113,207.092,174c-12.148-11.773-22.915-21.044-32.574-26.192
                                                                c-27.097-14.531-59.496-29.692-110.355-48.572c-1.561,16.827,8.322,39.201,36.8,54.08c-6.17-0.826-17.453,1.017-26.477,3.178
                                                                c3.675,19.277,15.677,35.159,48.169,42.839c-14.849,0.98-22.523,4.359-29.478,11.642c6.763,13.407,23.266,29.186,52.953,25.947
                                                                c-33.006,14.226-13.458,40.571,13.399,36.642C113.713,320.887,41.479,317.409,0,277.828
                                                                c108.299,147.572,343.716,87.274,378.799-54.866c26.285,0.224,41.737-9.105,51.318-19.39
                                                                C414.973,206.142,393.023,203.486,381.384,198.639z">
                            </path>
                        </svg>
                    </i>
                </a>
                <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank">
                    <i class="icon-box  hover-shadow">
                        <svg viewBox="0 0 24 24" class="icon-color-2-fill  icon-s">
                            <path
                                d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z">
                            </path>
                        </svg>
                    </i>
                </a>
                <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank">
                    <i class="icon-box  hover-shadow">
                        <svg viewBox="0 0 24 24" class="icon-color-2-fill  icon-s">
                            <path
                                d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z">
                            </path>
                        </svg>
                    </i>
                </a>
                <a href="https://www.linkedin.com/company/europe-it-outsourcing/" target="_blank">
                    <i class="icon-box  hover-shadow">
                        <svg viewBox="0 0 24 24" class="icon-color-2-fill  icon-s">
                            <path
                                d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z">
                            </path>
                        </svg>
                    </i>
                </a>

                <p> Europe: +380 96 926 5003<br>
                    U. S. A.: +1 708 515 4601<br>
                    Canada: +1 514 819 8198<br>

                </p>
            </div>
        </div>
        <div class="center p2 white">
            <small> © Copyright 2019. All Rights Reserved Europe IT Outsourcing Company.</small>
        </div>
    </footer>
</body>

</html>