<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page descrpition">
    <meta name="author" content="Kim Majali">
    <meta name="copyright" content="MIT license, Europe IT Outsourcing, https://www.europeitoutsourcing.com/">


    <title>Portfolio Single Project - CSS Vars Free HTML Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="../img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="../img/favicons/manifest.json">
    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#FF530D">

    <link rel="stylesheet" href="../css/cssvars.css">
<style>
  .nav ul li a{
    text-transform: uppercase;
    font-weight: 400;
    color:white;
  }
</style>
</head>

<body>
  <div class="h-100  d-flex flex-column bg-light-grey" style="background-image: url('../img/portfolio-1.jpg'); background-size: cover;" id="home">

  <div class="main-nav container-fluid m-t-05">
    <div class="main-menu">
      <svg viewBox="0 0 24 24" class="icon-white-fill icon-m">
        <path d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z"></path>
    </svg>
        <label for="toggle-1" class="toggle-menu">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-s" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
  
  
        </label>
        <input type="checkbox" id="toggle-1">
  
        <nav class="nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#page">Page</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#shortcodes">Shortcodes</a></li>
                <li><a href="#blog">Blog</a></li>
            </ul>
        </nav>
    </div>
  </div>
  <h4 class="left white font-weight-600 m-l-3 m-t-6">I'm Jack Doe, UX/UI Designer & Art Director</h4>
  <h1 class="left m-l-3 bold display-2 white">I love to Create</h1>
  <p class="left m-l-3 white">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.</p>
  <div class="col-2 m-l-2">
  <button class="button bg-white p-h-1  p-v-05 left black text-uppercase">Contact me</button>
  </div>
</div>
<h1 class="center black font-weight-600 m-t-6">My concepts</h1>
<div class="row container m-t-4">


  <div class="flex-gallery-container">
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/863985/pexels-photo-863985.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/830912/pexels-photo-830912.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/1029039/pexels-photo-1029039.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/1029594/pexels-photo-1029594.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/775414/pexels-photo-775414.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/983436/pexels-photo-983436.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/1028437/pexels-photo-1028437.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/963436/pexels-photo-963436.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/814372/pexels-photo-814372.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/1018797/pexels-photo-1018797.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/890500/pexels-photo-890500.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/398549/pexels-photo-398549.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/1024252/pexels-photo-1024252.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/91216/pexels-photo-91216.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>
    <div class="flex-gallery-image-container">
      <img src="https://images.pexels.com/photos/1105534/pexels-photo-1105534.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">
    </div>


  </div>
</div> 
<div class="center m-t-2">
  <button class="button bg-black p-h-1  p-v-05  white text-uppercase">Load more</button>
  </div>
  <div class="h-25  m-t-6 d-flex flex-column bg-light-grey">
    <div class="row m-h-7">
      <div class="col-md-4 center m-t-4">
        <svg viewBox="0 0 24 24" class="icon-dark-fill icon-m">
          <path fill="color-1" d="M21,16H3V4H21M21,2H3C1.89,2 1,2.89 1,4V16A2,2 0 0,0 3,18H10V20H8V22H16V20H14V18H21A2,2 0 0,0 23,16V4C23,2.89 22.1,2 21,2Z"></path>
      </svg>
      <p class="black m-t-05 font-weight-600 h6">Web Design</p>
      <p class="dark">Diam maecenas ultricies mi eget mauris<br> pharetra et ultrices neque. Cursus vitae<br> congue mauris rhoncus aenean.</p>
      </div>
      <div class="col-md-4 center m-t-4">
        <svg viewBox="0 0 24 24" class="icon-dark-fill icon-m">
          <path fill="color-1" d="M4,17L6.75,14.25L6.72,14.23C6.14,13.64 6.14,12.69 6.72,12.11L11.46,7.37L15.7,11.61L10.96,16.35C10.39,16.93 9.46,16.93 8.87,16.37L8.24,17H4M15.91,2.91C16.5,2.33 17.45,2.33 18.03,2.91L20.16,5.03C20.74,5.62 20.74,6.57 20.16,7.16L16.86,10.45L12.62,6.21L15.91,2.91Z"></path>
      </svg>
      <p class="black m-t-05 font-weight-600 h6">Branding Design</p>
      <p class="dark">Diam maecenas ultricies mi eget mauris<br> pharetra et ultrices neque. Cursus vitae<br> congue mauris rhoncus aenean.</p>
      </div>
      <div class="col-md-4 center m-t-4">
        <svg viewBox="0 0 24 24" class="icon-dark-fill icon-m">
          <path fill="color-1" d="M9.75 20.85C11.53 20.15 11.14 18.22 10.24 17C9.35 15.75 8.12 14.89 6.88 14.06C6 13.5 5.19 12.8 4.54 12C4.26 11.67 3.69 11.06 4.27 10.94C4.86 10.82 5.88 11.4 6.4 11.62C7.31 12 8.21 12.44 9.05 12.96L10.06 11.26C8.5 10.23 6.5 9.32 4.64 9.05C3.58 8.89 2.46 9.11 2.1 10.26C1.78 11.25 2.29 12.25 2.87 13.03C4.24 14.86 6.37 15.74 7.96 17.32C8.3 17.65 8.71 18.04 8.91 18.5C9.12 18.94 9.07 18.97 8.6 18.97C7.36 18.97 5.81 18 4.8 17.36L3.79 19.06C5.32 20 7.88 21.47 9.75 20.85M20.84 5.25C21.06 5.03 21.06 4.67 20.84 4.46L19.54 3.16C19.33 2.95 18.97 2.95 18.76 3.16L17.74 4.18L19.82 6.26M11 10.92V13H13.08L19.23 6.85L17.15 4.77L11 10.92Z"></path>
       </svg>
       <p class="black m-t-05 font-weight-600 h6">Print Design</p>
       <p class="dark p-b-4">Diam maecenas ultricies mi eget mauris<br> pharetra et ultrices neque. Cursus vitae<br> congue mauris rhoncus aenean.</p>
      </div>
    </div>
  </div>
  <h1 class="center black font-weight-600 display-3  m-t-6">Get in touch.</h1>
  <div class="container m-t-2">
    <div class=" m-h-7 m-t-4">
        <div class="m-h-7">
      <form class="m-h-7">
        <div class="form-row">
          <div class="form-group col-md-12">
           
            <input type="name" class="form-control" id="inputName4" placeholder="Full Name">
          </div>
         
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="email" class="form-control" id="inputEmail1" placeholder="Email Address">

          </div>
          
          
        </div>
        <div class="form-group">
            <p class="black font-weight-400">Type here message</p>
          <textarea class="form-control" rows="5" id="comment" placeholder=""></textarea>
        </div>
        <div class="form-group">
          
        </div>
        <button type="submit" class="button-m bg-black white btn-primary">Send</button>
      </form>
      </div>
      </div>
      </div>
      <footer class="h-25  m-t-6 d-flex flex-column bg-light-grey">
        <h1 class="center black font-weight-600 m-t-2">Contact Info</h1>
        <a href="#"><h3 class="black center font-weight-600 m-t-1">example@gmail.com</h3></a>
        <a href="#"><h4 class="black center font-weight-600 m-t-1">+123 456 789 10</h4></a>
        <div class="d-inline center">
        <a href="#" target="_blank" rel="noopener noreferrer"> 
          <i class="icon-box  hover-shadow">
                  <svg viewBox="0 0 512 512" class="icon-black-fill center icon-s">
                          <path d="M381.384,198.639c24.157-1.993,40.543-12.975,46.849-27.876
                                      c-8.714,5.353-35.764,11.189-50.703,5.631c-0.732-3.51-1.55-6.844-2.353-9.854c-11.383-41.798-50.357-75.472-91.194-71.404
                                      c3.304-1.334,6.655-2.576,9.996-3.691c4.495-1.61,30.868-5.901,26.715-15.21c-3.5-8.188-35.722,6.188-41.789,8.067
                                      c8.009-3.012,21.254-8.193,22.673-17.396c-12.27,1.683-24.315,7.484-33.622,15.919c3.36-3.617,5.909-8.025,6.45-12.769
                                      C241.68,90.963,222.563,133.113,207.092,174c-12.148-11.773-22.915-21.044-32.574-26.192
                                      c-27.097-14.531-59.496-29.692-110.355-48.572c-1.561,16.827,8.322,39.201,36.8,54.08c-6.17-0.826-17.453,1.017-26.477,3.178
                                      c3.675,19.277,15.677,35.159,48.169,42.839c-14.849,0.98-22.523,4.359-29.478,11.642c6.763,13.407,23.266,29.186,52.953,25.947
                                      c-33.006,14.226-13.458,40.571,13.399,36.642C113.713,320.887,41.479,317.409,0,277.828
                                      c108.299,147.572,343.716,87.274,378.799-54.866c26.285,0.224,41.737-9.105,51.318-19.39
                                      C414.973,206.142,393.023,203.486,381.384,198.639z"></path>
                      </svg>
              </i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer"> 
        <i class="icon-box  hover-shadow">
                <svg viewBox="0 0 24 24" class="icon-black-fill  icon-s">
                    <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
                </svg>
            </i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer"> 
      <i class="icon-box  hover-shadow">
              <svg viewBox="0 0 24 24" class="icon-black-fill  icon-s">
                      <path d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z"></path>
                  </svg>
          </i>
  </a>
  <a href="#" target="_blank" rel="noopener noreferrer"> 
    <i class="icon-box  hover-shadow">
            <svg viewBox="0 0 24 24" class="icon-black-fill  icon-s">
                    <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"></path>
                </svg>
        </i>
</a>
    </div>
     
      <p class="dark font-weight-400 m-v-2 center"> © Copyright 2023. All Rights Reserved Europe IT Outsourcing Company.</p>

  </footer>
</body>

</html>