<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
    </head>
    <style>
       
    </style>
    <body>
        <div class="h-100 d-flex  flex-column" style="background-image: url('../img/real-estate.jpg'); background-size: cover;">
            <div class="main-nav m-t-2 container-fluid nav-bg-hover">
                <div class="main-menu">
                   
                    <a href="#" id="logo1" target="_blank" rel="noopener noreferrer"><h1 class="logo white font-weight-400">Estate</h1></a>
                    <label for="toggle-1" class="toggle-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-s" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
        
        
                    </label>
                    <input type="checkbox" id="toggle-1">
        
    <nav class="nav m-h-7">
                        <ul class="font-weight-400 color-2">
                            <li><a href="#home" style="color:white;">Home</a></li>
                            <li><a href="#apartments" style="color:white;">Apartments</a></li>
                            <li><a href="#about-us" style="color:white;">About Us</a></li>
                            <li><a href="#blog" style="color:white;">Blog</a></li>
                        </ul>
                    </nav>
                </div>
                </div>
                </div>
                <div class="container row m-t-6">
<div class="col-md-5">
    <p class="dark text-uppercase font-weight-400">About</p>
</div>
<div class="col-md-7">
    <h2 class="black font-weight-400 left">The best place to find the best housing<br> in your city - we are the best in the market</h2>
<div class="row m-t-2">
    <div class="col-md-6">
        <p class="dark h6 left">Amet consectetur adipiscing elit ut aliquam purus. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi.</p>
    </div>
    <div class="col-md-6">
        <p class="dark h6 left">Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Sagittis purus sit amet volutpat consequat mauris. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. </p>
    </div>
</div>
</div>
    </div>
    <div class="container m-v-4">
<img src="../img/real-estate-2.jpg" class="img-responsive">
    </div>
    <div class="container row m-t-6">
        <div class="col-md-3 m-t-2">
            <h6 class="dark text-uppercase m-t-1 font-weight-400">Gallery</h6>
            <p class="black m-t-1 h6">Check out our blog<br> to get inspired</p>
        </div>
        <div class="col-md-3">
            <div class="scale">
            <img src="../img/real-estate-3.jpg" class="img-responsive"> 
            
            <h4 class="black m-t-1">Kitchen</h4>
        </div>
        </div>
        <div class="col-md-3">
            <div class="scale">
            <img src="../img/real-estate-4.jpg" class="img-responsive"> 
       
            <h4 class="black m-t-1">Bathroom</h4>
        </div>
        </div>
        <div class="col-md-3">
            <div class="scale">
            <img src="../img/real-estate-5.jpg" class="img-responsive"> 
             
            <h4 class="black m-t-1">Bedroom</h4>
        </div>
        </div>
    </div>
        <div class="container  row m-t-6">
        <div class="col-md-5">
            <h6 class="dark text-uppercase font-weight-400 m-t-1">Section</h6> 
            <h5 class="black m-t-2">Our team of experienced<br> agents is dedicated to<br> helping you navigate the<br> complex world of real estate.</h5>
            <p class="dark m-t-6">Pellentesque sit amet porttitor eget dolor<br> morbi. Eu volutpat odio facilisis mauris<br> sit amet massa. Potenti nullam ac tortor<br> vitae purus faucibus ornare suspendisse<br> sed. Urna cursus eget nunc scelerisque. </p>
        </div>
        <div class="col-md-7 m-t-2">
            <img src="../img/real-estate-6.jpg" class="img-responsive">
        </div>
    </div>
    <div class="container row m-t-6">
        <div class="col-md-6 m-t-4">
            <h6 class="dark text-uppercase m-t-1 font-weight-400">Houses</h6>  
        </div>
        <div class="col-md-6 m-t-4">
            <h2 class="black m-t-1">Most popular metrics</h2>
            <p class="dark m-t-2">Our clients are mainly looking fot these specifics:</p>
            <div class="row m-t-4">
                <div class="col-md-6">
                    <hr>
                    <h1 class="black center display-3">230</h1>
                    <p class="dark center">Square meters</p>
                </div>
                <div class="col-md-6">
                    <hr>
                    <h1 class="black center display-3">5</h1>
                    <p class="dark center">Bedrooms</p>
                </div>
            </div>
            <div class="row m-t-2">
                <div class="col-md-6">
                    <hr>
                    <h1 class="black center display-3">3</h1>
                    <p class="dark center">Floors</p>
                </div>
                <div class="col-md-6">
                    <hr>
                    <h1 class="black center display-3">2</h1>
                    <p class="dark center">Bathrooms</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container  row m-t-6">
        <div class="col-md-7">
            <img src="../img/real-estate-7.jpg" class="img-responsive">
        </div>
        <div class="col-md-5 center  m-t-2">
            <h6 class="dark text-uppercase font-weight-400 m-t-1">Gallery</h6> 
            <h5 class="black m-t-2">Hunderds of modern<br> homes and apartments<br> are waiting for you to<br> discover!</h5>
            <p class="dark m-t-4">Pellentesque sit amet porttitor eget dolor<br> morbi. Eu volutpat odio facilisis mauris<br> sit amet massa. Potenti nullam ac tortor<br> vitae purus faucibus ornare suspendisse<br> sed. Urna cursus eget nunc scelerisque. </p>
        </div>
    </div>
    <div class="container row m-t-6">
        <div class="col-md-6 m-t-6">
            <h6 class="dark text-uppercase font-weight-400 m-t-1">Partners</h6> 
            <p class="m-t-2 h6">Bibendum arcu vitae elementum<br> curabitur vitae. Metus dictum at<br> tempor commodo. Nullam vehicula<br> ipsum a arcu cursus vitae. Leo<br> vel fringilla est ullamcorper. </p> 
        </div>
        <div class="col-md-6 m-t-4">
            
            <div class="row m-t-4">
                <div class="col-md-4">
                   
                        <img src="https://cssvars.com/wp-content/themes/AgileCSS/images/vika/vintage.png" alt="portfolio" class="img-responsive d-inline m0 p0">
                    
                </div>
                <div class="col-md-4">
                  
                        <img src="https://cssvars.com/wp-content/themes/AgileCSS/images/vika/vintage.png" alt="portfolio" class="img-responsive d-inline m0 p0">
                   
                </div>
                <div class="col-md-4">
    
                        <img src="https://cssvars.com/wp-content/themes/AgileCSS/images/vika/vintage.png" alt="portfolio" class="img-responsive d-inline m0 p0">
                    </div>
            </div>
            <div class="row m-t-4">
                <div class="col-md-4">
                 
                        <img src="https://cssvars.com/wp-content/themes/AgileCSS/images/vika/vintage.png" alt="portfolio" class="img-responsive d-inline m0 p0">
                  
                </div>
                <div class="col-md-4">
                 
                        <img src="https://cssvars.com/wp-content/themes/AgileCSS/images/vika/vintage.png" alt="portfolio" class="img-responsive d-inline m0 p0">
                    
                </div>
                <div class="col-md-4">
                 
                    <img src="https://cssvars.com/wp-content/themes/AgileCSS/images/vika/vintage.png" alt="portfolio" class="img-responsive d-inline m0 p0">
                
            </div>
            </div>
        </div>
    </div>
    <div class="container row m-t-6">
        <div class="col-md-5 m-t-4">
            <h6 class="dark text-uppercase font-weight-400 m-t-1">Location</h6>  
        </div>
        <div class="col-md-7 m-t-4">
            <h3 class="black center m-t-1">We have offices located all over Ukraine</h3>
            <div class="row">
                <div class="col-md-6 m-t-2">
<p class="dark">Feel free to drop us a visit anytime.</p>
                </div>
                <div class="col-md-6 m-t-2">
                  <p class="dark left">Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Dictum at tempor commodo ullamcorper a lacus vestibulum.</p>  
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <iframe class="h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.0995438058467!2d36.32569397172177!3d50.028230542620506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a7655bee7ecd%3A0xade22c5c2ba08ae2!2sKaravan+Mall!5e0!3m2!1sen!2sua!4v1540825240830" allowfullscreen="" style="border: 0;" width="100%">
        </iframe>
    </div>
    <div class="container-fluid m-t-6 bg-black row color-1 p-v-3">
        <div class="col-md-3">
<h1 class="white">Estate</h1>

           </div>
           <div class="col-md-3 m-t-1">
            <ul class="no-indent-ul">
                <li><a href="home" class="white font-weight-400 h6">Home</a></li>
                <li><a href="apartments" class="white font-weight-400 h6">Apartments</a></li>
                <li><a href="about-us" class="white font-weight-400 h6">About us</a></li>
                <li><a href="blog" class="white font-weight-400 h6">Blog</a></li>
             </ul>
        </div>


        <div class="col-md-3 m-t-1">
                <ul class="no-indent-ul">
                    <li><a href="instagram" class="white font-weight-400 h6">Instagram</a></li>
                    <li><a href="facebook" class="white font-weight-400 h6">Facebook</a></li>
                    <li><a href="twitter" class="white font-weight-400 h6">Twitter</a></li>
                    <li><a href="pinterest" class="white font-weight-400 h6">Pinterest</a></li>
                  
                </ul>
             </div>

             <div class="col-md-3">
                  
                   
                    <ul class="no-indent-ul m-t-1">
                       <li><a href="our-story" class="white font-weight-400 h6">Terms of Service</a></li>
                       <li><a href="careers" class="white font-weight-400 h6">Privacy Policy</a></li>
                             
                        </ul>
                 </div>

<div class="col-md-3">

</div>

               


</div>
    </body>
</html>