<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page descrpition">
    <meta name="author" content="Kim Majali">
    <meta name="copyright" content="MIT license, Europe IT Outsourcing, https://www.europeitoutsourcing.com/">


    <title>SaaS - CSS Vars Free HTML Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#FF530D">

    <link rel="stylesheet" href="../css/cssvars.css">
</head>

<body>

        
    
        <div class="main-nav nav-bottom-border-hover container-fluid">
            <div class="main-menu m-t-05">
                <a href="#" id="logo1" target="_blank" rel="noopener noreferrer"><h2 class="logo black font-weight-400">Business Site</h2></a>
                <label for="toggle-1" class="toggle-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-s" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </label>
                <input type="checkbox" id="toggle-1">
                <nav class="nav">
                    <ul>
                        <li><a href="guest-profile.html">My account</a></li>
                        <li><a title="Notifications" onclick="toggleDisplay('notifications')">
                                <svg viewBox="0 0 24 24" class="icon-xs img-responsive no-mobile icon-color-1-fill">
                                    <path d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21">
                                    </path>
          
                                </svg><span class="p-l-2 mobile-only"> Notifications</span></a></li>
          
          
          
                        <li><a href="index.html">Log out</a></li>
                    </ul>
                </nav>
            </div>
          </div>
    <div class="row">
      <div class="col-md-7 bg-light-grey">
        <div class="row">
            <div class="col-md-6">
<h1 class="black m-l-2 left font-weight-600 m-t-6">A place for your business</h1>
<p class="font-weight-600 m-t-4 m-l-2">This is what makes our business good.</p>
<div class="left m-l-2">
<button class="bg-white-hover black-hover p-h-4 rounded">Try for free</button>
</div>
            </div>
            <div class="col-md-6 m-t-6 p-l-3">
<img src="../img/slider-1.jpg" width="340" height="230" class="img-responsive">
            </div>
        </div>
        </div>
        <div class="col-md-5 p-l-3 m-t-6">
            <img src="../img/slider-2.jpg"  class="m-t-4 img-responsive">
        </div>
      
    </div>
    <div class="section bg-light-grey">
    <div class="container">
        <h3 class="black center p-t-4 font-weight-400">Trusted by 10,000+ companies off all sizes</h3>
        <div class="row m-v-3">
            <div class="col center m-v-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                <h4 class="black center m-t-05">Logo</h4>
            </div>
                <div class="col center m-v-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                    <h4 class="black center m-t-05">Logo</h4> 
                </div>
                    <div class="col center m-v-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                        <h4 class="black center m-t-05">Logo</h4>
                    </div>
                        <div class="col center m-v-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                           <h4 class="black center m-t-05">Logo</h4>
                        </div>
        </div>
    </div>
    </div>
    <div class="row container-fluid m-t-6">
        <div class="col-md-6">
<img src="../img/slider-3.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
<p class="grey font-weight-600 text-uppercase center m-t-1">Feature</p>
<h3 class="black center font-weight-600 m-t-4">Simple and super-easy to use!</h3>
<p class="dark center m-t-1">Diam quam nulla porttitor massa id neque aliquam. Hendrerit dolor<br> magna eget est lorem ipsum dolor. Turpis egestas maecenas<br> pharetra convallis.</p>
<div class="center">
<button class="bg-white-hover black-hover p-h-4 m-t-2 rounded">Learn more</button>
</div>
        </div>
    </div>
    <div class="row container-fluid m-t-6">
        <div class="col-md-6">
            <p class="grey font-weight-600 text-uppercase center m-t-1">Feature</p>
            <h3 class="black center font-weight-600 m-t-4">Simplicity is the key!</h3>
            <p class="dark center m-t-1">Diam quam nulla porttitor massa id neque aliquam. Hendrerit dolor<br> magna eget est lorem ipsum dolor. Turpis egestas maecenas<br> pharetra convallis.</p>
            <div class="center">
            <button class="bg-white-hover black-hover p-h-4 m-t-2 rounded">Learn more</button>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../img/slider-5.jpg" class="img-responsive">

        </div>
    </div>
    <div class="h-50 d-flex  bg-color-1 m-t-6 flex-column" style="background-size: cover;">
        <h1 class="center white font-weight-600 m-t-6">Check out our blog</h1>
        <p class="white center h6 m-t-1">Non nisi est sit amet facilisis magna etiam tempor. Amet mauris commodo quis imperdiet massa.</p>
        <div class="row container m-v-4">
            
            <div class="col-md-4 center">
                <div class="center bg-white rounded">
                    <img src="../img/vika/design-company/work-7.jpg" alt="alttext" class="img-responsive">
                    <div class="p-h-1 center p-v-1">
                       <h6 class="left m-v-05 font-weight-600">How to work<br> remotely?</h6>
                       <p class="dark left font-weight-400">Volutpat ac tincidunt vitae semper. Nunc congue nisi vitae suscipit tellus. Adipiscing vitae proin sagittis nisl. </p>
                        <p class="left black bold">John Doe<br><span class="dark font-weight-400">Staff Writer</span></p>
                        
                    </div>
                    </div>      
            </div>
            <div class="col-md-4 center">
                <div class="center bg-white rounded">
                    <img src="../img/vika/design-company/work-9.jpg" alt="alttext" class="img-responsive">
                    <div class="p-h-1 center p-v-1">
                        <h6 class="left m-v-05 font-weight-600">Innovation time</h6>
                        <p class="dark left font-weight-400">Volutpat ac tincidunt vitae semper. Nunc congue nisi vitae suscipit tellus. Adipiscing vitae proin sagittis nisl.Est ullamcorper eget nulla. </p>
                         <p class="left black bold">Jess Lee<br><span class="dark font-weight-400">Staff Writer</span></p>
                            </div>
                    </div>     
            </div>
            <div class="col-md-4 center">
                <div class="center bg-white rounded">
                    <img src="../img/vika/design-company/work-10.jpg" alt="alttext" class="img-responsive">
                    <div class="p-h-1 center p-v-1">
                        <h6 class="left m-v-05 font-weight-600">Work-life balance</h6>
                       <p class="dark left font-weight-400">Volutpat ac tincidunt vitae semper. Nunc congue nisi vitae suscipit tellus. Adipiscing vitae proin sagittis nisl.Est ullamcorper eget nulla. </p>
                        <p class="left black bold">Mark Smith<br><span class="dark font-weight-400">Staff Writer</span></p>
                            </div>
                    </div>       
            </div>
           
        </div>
    </div>
    <div class="container m-t-6">
        <h2 class="center black font-weight-600">Take your first leap towards success</h2>
        <p class="center font-weight-400">Meet our experts and we will help you elevate your business to new levels.</p>
        <div class="center">
        <button class="bg-white-hover black-hover p-h-4 m-t-2 rounded">Sign up for free</button>
        </div>
    </div>
    <div class="container m-t-6">
        <h2 class="center black font-weight-600">Reviews from our users</h2>  
        <p class="center font-weight-400">More than 10,000  professionals from all over the world use our product. Read their reviews here!</p>
        <div class="row container m-v-4">
            <div class="col-md-4 center">
                <div class="center shadow-color-3 rounded">
                    <div class="p-h-1 left m-t-2">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </div>
                    <div class="p-h-1 left p-v-1">
                        <p class="black font-weight-600">"Once you try this product you will never go back. Lovely to see so many professionals."</p>
                    </div>
                    <div class="row">
                        <div class="col-3 p-h-2">
                            <img src="../img/vika/sandra-lee-1.jpg" class="circle icon-m">
                        </div>
        
                        <div class="col-5 p-v-1">
                            <span class="font-weight-600 black">Melly Doe<br><span class="small dark">Designer</span>
                            </span>
                        </div>
                    </div>
                    </div>       
                    </div>
                    
                    <div class="col-md-4 center">
                        <div class="center shadow-color-3 rounded">
                            <div class="p-h-1 left m-t-2">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                            </div>
                            <div class="p-h-1 left p-v-1">
                                <p class="black font-weight-600">"Once you try this product you will never go back. Lovely to see so many professionals."</p>
                            </div>
                            <div class="row">
                                <div class="col-3 p-h-2">
                                    <img src="../img/vika/chelsie-green-1.jpg" class="circle icon-m">
                                </div>
                
                                <div class="col-5 p-v-1">
                                    <span class="font-weight-600 black">Jess Doe<br><span class="small dark">Designer</span>
                                    </span>
                                </div>
                            </div>
                            </div>       
            
            </div>
            <div class="col-md-4 center">
                <div class="center shadow-color-3 rounded">
                    <div class="p-h-1 left m-t-2">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </div>
                    <div class="p-h-1 left p-v-1">
                        <p class="black font-weight-600">"Once you try this product you will never go back. Lovely to see so many professionals."</p>
                    </div>
                    <div class="row">
                        <div class="col-3 p-h-2">
                            <img src="../img/vika/em-shepard-1.jpg" class="circle icon-m">
                        </div>
        
                        <div class="col-5 p-v-1">
                            <span class="font-weight-600 black">Ann Doe<br><span class="small dark">Designer</span>
                            </span>
                        </div>
                    </div>
                    </div>       
           
        </div>
    </div>
    </div>
    <div class="h-50 d-flex  bg-color-1 m-t-6 flex-column" style="background-size: cover;">
        <div class="row container-fluid m-v-4">
            <div class="col-md-6">
                <p class="grey font-weight-600 text-uppercase center m-t-4">Feature</p>
                <h3 class="white center font-weight-600 m-t-2">Experience the best!</h3>
                <p class="white center m-t-1">Diam quam nulla porttitor massa id neque aliquam. Hendrerit dolor<br> magna eget est lorem ipsum dolor. Turpis egestas maecenas<br> pharetra convallis.</p>
                <div class="center">
                <button class="bg-white black bg-black-hover p-h-4 m-t-2 rounded">Sign up for free</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../img/slider-3.jpg" class="img-responsive">
    
            </div>
        </div>
    </div>
    <div class="row container-fluid m-t-6">
        <div class="col-md-5">
           
            <h3 class="black center font-weight-600 m-t-6">Connect the<br> apps that you<br> use everyday</h3>
            <p class="dark center m-t-1">Diam quam nulla porttitor massa<br> id neque aliquam. Hendrerit dolor<br> magna eget est lorem ipsum dolor.</p>
            <div class="center">
                <button class="bg-white-hover black-hover p-h-4 m-t-2 rounded">Connect your tools</button>
            </div>
        </div>
        <div class="col-md-7 m-t-2">
                <div class="row justify-content-center  rotate-10">
                    <div class="col-md-4 m-t-4">
                        <i class="icon-box icon-color-1-bg circle">
                            <svg viewBox="0 0 24 24" class="icon-white-fill  icon-ml">
                                <path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"></path>
                            </svg>
                        </i>
                    </div>
        
        
                    <div class="col-md-4 m-t-4">
                        <i class="icon-box icon-color-1-bg circle">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-white-fill  icon-ml" viewBox="0 0 24 24">
                                <path d="M17,16.47V7.39L11,11.93M2.22,9.19C1.92,8.87 1.91,8.37 2.2,8.04L3.4,6.93C3.6,6.75 4.09,6.67 4.45,6.93L7.87,9.54L15.8,2.29C16.12,1.97 16.67,1.84 17.3,2.17L21.3,4.08C21.66,4.29 22,4.62 22,5.23V18.73C22,19.13 21.71,19.56 21.4,19.73L17,21.83C16.68,21.96 16.08,21.84 15.87,21.63L7.85,14.33L4.45,16.93C4.07,17.19 3.6,17.12 3.4,16.93L2.2,15.83C1.88,15.5 1.92,14.96 2.25,14.63L5.25,11.93"></path></svg>
                        </i>
                    </div>
                    <div class="col-md-4 m-t-4">
                        <i class="icon-box icon-color-1-bg circle">
                            <svg viewBox="0 0 24 24" class="icon-white-fill  icon-ml">
                                <path fill="color-1" d="M17.9,10.9C14.7,9 9.35,8.8 6.3,9.75C5.8,9.9 5.3,9.6 5.15,9.15C5,8.65 5.3,8.15 5.75,8C9.3,6.95 15.15,7.15 18.85,9.35C19.3,9.6 19.45,10.2 19.2,10.65C18.95,11 18.35,11.15 17.9,10.9M17.8,13.7C17.55,14.05 17.1,14.2 16.75,13.95C14.05,12.3 9.95,11.8 6.8,12.8C6.4,12.9 5.95,12.7 5.85,12.3C5.75,11.9 5.95,11.45 6.35,11.35C10,10.25 14.5,10.8 17.6,12.7C17.9,12.85 18.05,13.35 17.8,13.7M16.6,16.45C16.4,16.75 16.05,16.85 15.75,16.65C13.4,15.2 10.45,14.9 6.95,15.7C6.6,15.8 6.3,15.55 6.2,15.25C6.1,14.9 6.35,14.6 6.65,14.5C10.45,13.65 13.75,14 16.35,15.6C16.7,15.75 16.75,16.15 16.6,16.45M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path>
                            </svg>
                        </i>
                    </div>
                </div>
                <div class="row justify-content-center  rotate-10">
                        <div class="col-md-4 m-t-4">
                            <i class="icon-box icon-color-1-bg circle">
                                <svg viewBox="0 0 24 24" class="icon-white-fill icon-ml">
                                    <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"></path>
                                </svg>
                            </i>                        
                            
                        </div>
            
                        <div class="col-md-4 m-t-4">
                            <i class="icon-box icon-color-1-bg circle">
                                <svg viewBox="0 0 512 512" class="icon-white-fill  icon-ml">
                                    <g>
                                        <g>
                                            <polygon points="448,224 448,160 416,160 416,224 352,224 352,256 416,256 416,320 448,320 448,256 512,256 512,224 		"></polygon>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M160,224v64h90.528c-13.216,37.248-48.8,64-90.528,64c-52.928,0-96-43.072-96-96c0-52.928,43.072-96,96-96
                        c22.944,0,45.024,8.224,62.176,23.168l42.048-48.256C235.424,109.824,198.432,96,160,96C71.776,96,0,167.776,0,256
                        s71.776,160,160,160s160-71.776,160-160v-32H160z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </i>                   
                             
                            </div>
    
                        <div class="col-md-4 m-t-4">
                            <i class="icon-box icon-color-1-bg circle">
                                <svg viewBox="0 0 24 24" class="icon-white-fill icon-ml">
                                    <path d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z"></path>
                                </svg>
                            </i>
                        </div>
    
                    </div>
        </div>
    </div>
    <div class="h-25 d-flex  bg-color-1 m-t-6 flex-column" style="background-size: cover;">
        <h1 class="center white font-weight-600 m-t-2">Try it for free</h1>
        <p class="h6 center white m-t-1">No credit card required. Start your 14-day free trial now.</p>
        <div class="center m-b-2">            
            <button class="bg-white black bg-black-hover p-h-2 m-t-2 rounded">Try it now</button>
            <button class="bg-white-hover black-hover outline-color-white p-h-2 m-t-2 rounded">Contact sales</button>
    </div>
    </div>
    <footer class="p2 m-t-6 line-height-17">
        <div class="row color m-h-3 grey bold">
            <div class="col-md-4">
    
    
                <a href="#" id="logo1" target="_blank" rel="noopener noreferrer"><h2 class="logo black font-weight-400">Business Site</h2></a>

                </div>
            <div class="col-md-2 color grey">
                  
                    <ul class="no-indent-ul">
                       <li><a href="#company" class="black">Company</a></li>
                       <li><a href="#home" class="black">Home</a></li>
                       <li><a href="#product" class="black">Product</a></li>
                       <li><a href="#about-us" class="black">About Us</a></li>
                       <li><a href="#pricing" class="black">Pricing</a></li>
                              
                        
                    </ul>
                 </div>
    
                 <div class="col-md-2">
                      
                        
                        <ul class="no-indent-ul">
                           <li><a href="#" class="black">Facebook</a></li>
                           <li><a href="#" class="black">Twitter</a></li>
                           <li><a href="#" class="black">Instagram</a></li>
                           <li><a href="#" class="black">Linkedin</a></li>
                           
                        </ul>
                     </div>
    
    
    
                     <div class="col-md-2">
                            
                            <ul class="no-indent-ul">
                                <li><a href="#" class="black">Asana</a></li>
                                <li><a href="#" class="black">Jira</a></li>
                                <li><a href="#" class="black">Slack</a></li>
                              
                             </ul>
                         </div>
                         <div class="col-md-2">
                          
                            
                            <ul class="no-indent-ul">
                               <li><a href="#" class="black">Privacy Policy</a></li>
                               <li><a href="#" class="black">Terms of Service</a></li>
                            
                            </ul>
                         </div>
        
    
    
        </div>
    
    </footer>  
</body>

</html>