<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wire Fraud Defense | Ashcombe & Reid</title>
<meta name="description" content="Federal wire fraud defense attorneys. Confidential consultations available 24/7.">
<link rel="stylesheet" href="https://cdn.cssvars.com/cssvars.css">
<style>:root { --color-1: #1a2942; --color-2: #c9a84c; }</style>

</head>
<body>

<div class="main-nav p1">
  <div class="main-menu nav-bottom-border-hover">
    <input type="checkbox" id="toggle-pa1">
    <a href="#" class="logo bold h5 black">Ashcombe & Reid</a>
    <div class="nav-panel">
      <nav class="nav justify-content-end">
        <a href="#practice-areas">Practice Areas</a><a href="#attorneys">Attorneys</a><a href="#results">Results</a><a href="#contact">Contact</a>
      </nav>
      <div class="nav-actions"><a href="#contact" class="button">Free Consultation</a></div>
    </div>
    <label for="toggle-pa1" class="toggle-menu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-menu-open icon-color-1-fill icon-s"><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-menu-close icon-color-1-fill icon-s"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg>
    </label>
  </div>
</div>
<div class="container p-t-1">
  <ul class="breadcrumb small dark">
    <li><a href="#" class="dark">Home</a></li>
    <li><a href="#" class="dark">Practice Areas</a></li>
    <li class="color-1 bold">Wire Fraud Defense</li>
  </ul>
</div>

<section class="p-v-4">
  <div class="container row align-items-center">
    <div class="col-7">
      <span class="badge bg-color-2 black bold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-black-fill m-r--1-2"><path d="M2.3,20.28L11.9,10.68L10.5,9.26L9.78,9.97C9.39,10.36 8.76,10.36 8.37,9.97L7.66,9.26C7.27,8.87 7.27,8.24 7.66,7.85L13.32,2.19C13.71,1.8 14.34,1.8 14.73,2.19L15.44,2.9C15.83,3.29 15.83,3.92 15.44,4.31L14.73,5L16.15,6.43C16.54,6.04 17.17,6.04 17.56,6.43C17.95,6.82 17.95,7.46 17.56,7.85L18.97,9.26L19.68,8.55C20.07,8.16 20.71,8.16 21.1,8.55L21.8,9.26C22.19,9.65 22.19,10.29 21.8,10.68L16.15,16.33C15.76,16.72 15.12,16.72 14.73,16.33L14.03,15.63C13.63,15.24 13.63,14.6 14.03,14.21L14.73,13.5L13.32,12.09L3.71,21.7C3.32,22.09 2.69,22.09 2.3,21.7C1.91,21.31 1.91,20.67 2.3,20.28M20,19A2,2 0 0,1 22,21V22H12V21A2,2 0 0,1 14,19H20Z"></path></svg>Federal Criminal Defense</span>
      <h1 class="h1 bold black m-t-1">Wire Fraud Defense Attorneys</h1>
      <p class="lead dark m-t-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero. Sed cursus ante dapibus diam sed nisi nulla quis sem at nibh elementum imperdiet.</p>
      <div class="m-t-2">
        <a href="#contact" class="button button-lg bg-color-1 white">Request Free Consultation</a>
        <a href="tel:+10000000000" class="button button-lg outline-color-1 color-1 bg-white m-l-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-color-1-fill m-r--1-2"><path d="M20,15.5C18.8,15.5 17.5,15.3 16.4,14.9C16.3,14.9 16.2,14.9 16.1,14.9C15.8,14.9 15.6,15 15.4,15.2L13.2,17.4C10.4,15.9 8,13.6 6.6,10.8L8.8,8.6C9.1,8.3 9.2,7.9 9,7.6C8.7,6.5 8.5,5.2 8.5,4C8.5,3.5 8,3 7.5,3H4C3.5,3 3,3.5 3,4C3,13.4 10.6,21 20,21C20.5,21 21,20.5 21,20V16.5C21,16 20.5,15.5 20,15.5M5,5H6.5C6.6,5.9 6.8,6.8 7,7.6L5.8,8.8C5.4,7.6 5.1,6.3 5,5M19,19C17.7,18.9 16.4,18.6 15.2,18.2L16.4,17C17.2,17.2 18.1,17.4 19,17.4V19Z"></path></svg>Call Now</a>
      </div>
    </div>
    <div class="col-5">
      <div class="aspect-4-3 rounded-1-4 overflow-hidden shadow-4"
           style="background-image:url('https://picsum.photos/seed/ash-hero/700/540');background-size:cover;background-position:center;"></div>
    </div>
  </div>
</section>

<section class="bg-color-1 white p-v-2">
  <div class="container d-grid grid-cols-4 gap-2 center">
    <div><p class="h3 bold white m-b-0">200+</p><p class="grey small">Federal cases defended</p></div>
    <div><p class="h3 bold white m-b-0">25 yrs</p><p class="grey small">Combined experience</p></div>
    <div><p class="h3 bold white m-b-0">90%</p><p class="grey small">Cases resolved favorably</p></div>
    <div><p class="h3 bold white m-b-0">24/7</p><p class="grey small">Case line availability</p></div>
  </div>
</section>


<section class="p-v-4">
  <div class="container row">
    <div class="col-8">
      <h2 class="h3 bold black">Understanding Wire Fraud Charges</h2>
    <p class="dark m-t-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero. Sed cursus ante dapibus diam sed nisi nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum praesent mauris fusce nec tellus sed augue semper porta mauris massa vitae totam.</p>

      <h2 class="h3 bold black">What Constitutes Securities Fraud</h2>
      <p class="dark m-t-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero. Sed cursus ante dapibus diam sed nisi nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum praesent mauris fusce nec tellus sed augue semper porta mauris massa vitae totam.</p>

      <h2 class="h3 bold black m-t-3">Common SEC &amp; DOJ Allegations</h2>
      <ul class="colored-ul m-t-1 dark">
        <li class="m-b--1-2">Insider trading and tipper-tippee liability</li>
        <li class="m-b--1-2">Ponzi and investment fraud schemes</li>
        <li class="m-b--1-2">Accounting fraud and financial misstatements</li>
        <li class="m-b--1-2">Market manipulation and pump-and-dump schemes</li>
      </ul>

      <div class="msg border-info m-t-2 p1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-m icon-info-fill m-r--1-2"><path d="M21,11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1L21,5V11M12,21C15.75,20 19,15.54 19,11.22V6.3L12,3.18L5,6.3V11.22C5,15.54 8.25,20 12,21M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9"></path></svg>
        <span class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</span>
      </div>

      <h2 class="h3 bold black m-t-3">Why Choose Marchetti Law Group</h2>
      <div class="row m-t-1">
        <div class="col-6 p-r-1">
          <p class="bold black"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-s icon-color-1-fill m-r--1-2"><path d="M23 12L20.6 9.2L20.9 5.5L17.3 4.7L15.4 1.5L12 3L8.6 1.5L6.7 4.7L3.1 5.5L3.4 9.2L1 12L3.4 14.8L3.1 18.5L6.7 19.3L8.6 22.5L12 21L15.4 22.5L17.3 19.3L20.9 18.5L20.6 14.8L23 12M18.7 16.9L16 17.5L14.6 19.9L12 18.8L9.4 19.9L8 17.5L5.3 16.9L5.5 14.1L3.7 12L5.5 9.9L5.3 7.1L8 6.5L9.4 4.1L12 5.2L14.6 4.1L16 6.5L18.7 7.1L18.5 9.9L20.3 12L18.5 14.1L18.7 16.9M16.6 7.6L18 9L10 17L6 13L7.4 11.6L10 14.2L16.6 7.6Z"></path></svg>Former federal prosecutors</p>
        </div>
        <div class="col-6 p-l-1">
          <p class="bold black"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-s icon-color-1-fill m-r--1-2"><path d="M23 12L20.6 9.2L20.9 5.5L17.3 4.7L15.4 1.5L12 3L8.6 1.5L6.7 4.7L3.1 5.5L3.4 9.2L1 12L3.4 14.8L3.1 18.5L6.7 19.3L8.6 22.5L12 21L15.4 22.5L17.3 19.3L20.9 18.5L20.6 14.8L23 12M18.7 16.9L16 17.5L14.6 19.9L12 18.8L9.4 19.9L8 17.5L5.3 16.9L5.5 14.1L3.7 12L5.5 9.9L5.3 7.1L8 6.5L9.4 4.1L12 5.2L14.6 4.1L16 6.5L18.7 7.1L18.5 9.9L20.3 12L18.5 14.1L18.7 16.9M16.6 7.6L18 9L10 17L6 13L7.4 11.6L10 14.2L16.6 7.6Z"></path></svg>Nationwide federal experience</p>
        </div>
        <div class="col-6 p-r-1">
          <p class="bold black"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-s icon-color-1-fill m-r--1-2"><path d="M23 12L20.6 9.2L20.9 5.5L17.3 4.7L15.4 1.5L12 3L8.6 1.5L6.7 4.7L3.1 5.5L3.4 9.2L1 12L3.4 14.8L3.1 18.5L6.7 19.3L8.6 22.5L12 21L15.4 22.5L17.3 19.3L20.9 18.5L20.6 14.8L23 12M18.7 16.9L16 17.5L14.6 19.9L12 18.8L9.4 19.9L8 17.5L5.3 16.9L5.5 14.1L3.7 12L5.5 9.9L5.3 7.1L8 6.5L9.4 4.1L12 5.2L14.6 4.1L16 6.5L18.7 7.1L18.5 9.9L20.3 12L18.5 14.1L18.7 16.9M16.6 7.6L18 9L10 17L6 13L7.4 11.6L10 14.2L16.6 7.6Z"></path></svg>Confidential case evaluations</p>
        </div>
        <div class="col-6 p-l-1">
          <p class="bold black"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-s icon-color-1-fill m-r--1-2"><path d="M23 12L20.6 9.2L20.9 5.5L17.3 4.7L15.4 1.5L12 3L8.6 1.5L6.7 4.7L3.1 5.5L3.4 9.2L1 12L3.4 14.8L3.1 18.5L6.7 19.3L8.6 22.5L12 21L15.4 22.5L17.3 19.3L20.9 18.5L20.6 14.8L23 12M18.7 16.9L16 17.5L14.6 19.9L12 18.8L9.4 19.9L8 17.5L5.3 16.9L5.5 14.1L3.7 12L5.5 9.9L5.3 7.1L8 6.5L9.4 4.1L12 5.2L14.6 4.1L16 6.5L18.7 7.1L18.5 9.9L20.3 12L18.5 14.1L18.7 16.9M16.6 7.6L18 9L10 17L6 13L7.4 11.6L10 14.2L16.6 7.6Z"></path></svg>Trial-tested defense strategy</p>
        </div>
      </div>
    </div>
    <div class="col-4 p-l-2">
      
<div class="card p2 rounded shadow position-sticky top-2">
  <p class="bold h6 black m-b-1 text-uppercase letter-spacing-1">Practice Areas</p>
  
    <a href="#" class="bg-color-1 white d-flex justify-content-between align-items-center p1 rounded m-b--1-2" style="text-decoration:none;">
      <span class="white small bold">Securities Fraud</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-white-fill"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
    </a>
  
    <a href="#" class="bg-white black d-flex justify-content-between align-items-center p1 rounded m-b--1-2" style="text-decoration:none;">
      <span class="black small bold">Wire Fraud</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-color-1-fill"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
    </a>
  
    <a href="#" class="bg-white black d-flex justify-content-between align-items-center p1 rounded m-b--1-2" style="text-decoration:none;">
      <span class="black small bold">Healthcare Fraud</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-color-1-fill"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
    </a>
  
    <a href="#" class="bg-white black d-flex justify-content-between align-items-center p1 rounded m-b--1-2" style="text-decoration:none;">
      <span class="black small bold">Money Laundering</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-color-1-fill"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
    </a>
  
    <a href="#" class="bg-white black d-flex justify-content-between align-items-center p1 rounded m-b--1-2" style="text-decoration:none;">
      <span class="black small bold">RICO Charges</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-color-1-fill"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
    </a>
  
    <a href="#" class="bg-white black d-flex justify-content-between align-items-center p1 rounded m-b--1-2" style="text-decoration:none;">
      <span class="black small bold">Public Corruption</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-xs icon-color-1-fill"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
    </a>
  <hr class="m-v-1">
  <div class="center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-m icon-color-1-fill"><path d="M20,15.5C18.8,15.5 17.5,15.3 16.4,14.9C16.3,14.9 16.2,14.9 16.1,14.9C15.8,14.9 15.6,15 15.4,15.2L13.2,17.4C10.4,15.9 8,13.6 6.6,10.8L8.8,8.6C9.1,8.3 9.2,7.9 9,7.6C8.7,6.5 8.5,5.2 8.5,4C8.5,3.5 8,3 7.5,3H4C3.5,3 3,3.5 3,4C3,13.4 10.6,21 20,21C20.5,21 21,20.5 21,20V16.5C21,16 20.5,15.5 20,15.5M5,5H6.5C6.6,5.9 6.8,6.8 7,7.6L5.8,8.8C5.4,7.6 5.1,6.3 5,5M19,19C17.7,18.9 16.4,18.6 15.2,18.2L16.4,17C17.2,17.2 18.1,17.4 19,17.4V19Z"></path></svg>
    <p class="bold black m-t--1-2 m-b-0">(212) 555-0148</p>
    <p class="dark small">Available 24/7</p>
  </div>
</div>

    </div>
  </div>
</section>

<section class="p-v-4">
  <div class="container">
    
    <h2 class="h3 bold black m-t-3">How We Help</h2>
    <div class="d-grid grid-cols-3 gap-2 m-t-1">
      <div class="card p2 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-m icon-color-1-fill"><path d="M6,2A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6M6,4H13V9H18V20H6V4M8,12V14H16V12H8M8,16V18H13V16H8Z"></path></svg>
        <p class="bold black m-t--1-2">Case Investigation</p>
        <p class="dark small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</p>
      </div>
      <div class="card p2 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-m icon-color-1-fill"><path d="M12,3C10.73,3 9.6,3.8 9.18,5H3V7H4.95L2,14C1.53,16 3,17 5.5,17C8,17 9.56,16 9,14L6.05,7H9.17C9.5,7.85 10.15,8.5 11,8.83V20H2V22H22V20H13V8.82C13.85,8.5 14.5,7.85 14.82,7H17.95L15,14C14.53,16 16,17 18.5,17C21,17 22.56,16 22,14L19.05,7H21V5H14.83C14.4,3.8 13.27,3 12,3M12,5A1,1 0 0,1 13,6A1,1 0 0,1 12,7A1,1 0 0,1 11,6A1,1 0 0,1 12,5M5.5,10.25L7,14H4L5.5,10.25M18.5,10.25L20,14H17L18.5,10.25Z"></path></svg>
        <p class="bold black m-t--1-2">Pretrial Negotiation</p>
        <p class="dark small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</p>
      </div>
      <div class="card p2 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-m icon-color-1-fill"><path d="M2.3,20.28L11.9,10.68L10.5,9.26L9.78,9.97C9.39,10.36 8.76,10.36 8.37,9.97L7.66,9.26C7.27,8.87 7.27,8.24 7.66,7.85L13.32,2.19C13.71,1.8 14.34,1.8 14.73,2.19L15.44,2.9C15.83,3.29 15.83,3.92 15.44,4.31L14.73,5L16.15,6.43C16.54,6.04 17.17,6.04 17.56,6.43C17.95,6.82 17.95,7.46 17.56,7.85L18.97,9.26L19.68,8.55C20.07,8.16 20.71,8.16 21.1,8.55L21.8,9.26C22.19,9.65 22.19,10.29 21.8,10.68L16.15,16.33C15.76,16.72 15.12,16.72 14.73,16.33L14.03,15.63C13.63,15.24 13.63,14.6 14.03,14.21L14.73,13.5L13.32,12.09L3.71,21.7C3.32,22.09 2.69,22.09 2.3,21.7C1.91,21.31 1.91,20.67 2.3,20.28M20,19A2,2 0 0,1 22,21V22H12V21A2,2 0 0,1 14,19H20Z"></path></svg>
        <p class="bold black m-t--1-2">Trial Representation</p>
        <p class="dark small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-grey p-v-4">
  <div class="container">
    <h2 class="h3 bold black center">Our Defense Process</h2>
    <ul class="stepper m-t-3">
      <li class="stepper-step is-complete">
        <div class="stepper-circle">1</div>
        <span class="stepper-label bold">Confidential Review</span>
      </li>
      <li class="stepper-step is-complete">
        <div class="stepper-circle">2</div>
        <span class="stepper-label bold">Investigation</span>
      </li>
      <li class="stepper-step is-active">
        <div class="stepper-circle">3</div>
        <span class="stepper-label bold">Strategy &amp; Negotiation</span>
      </li>
      <li class="stepper-step">
        <div class="stepper-circle">4</div>
        <span class="stepper-label bold">Resolution</span>
      </li>
    </ul>
  </div>
</section>

<section class="p-v-4">
  <div class="container">
    <h2 class="h3 bold black center">Meet Your Defense Team</h2>
    <div class="row m-t-2 center">
      <div class="col-4 p1">
        <div class="w-8rem h-8rem circle overflow-hidden shadow m-h-2"
             style="background-image:url('https://picsum.photos/seed/ash-att1/300/300');background-size:cover;background-position:center;"></div>
        <p class="bold black m-t-1 m-b-0">James Ashcombe</p>
        <p class="dark small">Founding Partner</p>
      </div>
      <div class="col-4 p1">
        <div class="w-8rem h-8rem circle overflow-hidden shadow m-h-2"
             style="background-image:url('https://picsum.photos/seed/ash-att2/300/300');background-size:cover;background-position:center;"></div>
        <p class="bold black m-t-1 m-b-0">Monica Reid</p>
        <p class="dark small">Founding Partner</p>
      </div>
      <div class="col-4 p1">
        <div class="w-8rem h-8rem circle overflow-hidden shadow m-h-2"
             style="background-image:url('https://picsum.photos/seed/ash-att3/300/300');background-size:cover;background-position:center;"></div>
        <p class="bold black m-t-1 m-b-0">David Farrow</p>
        <p class="dark small">Senior Associate</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-grey p-v-4">
  <div class="container">
    <h2 class="h3 bold black center">Frequently Asked Questions</h2>
    <div class="accordion m-t-2 m-h-4">
      <div class="accordion-block">
        <input type="radio" name="pa1-faq" id="pa1-faq-1" checked>
        <label for="pa1-faq-1" class="accordion-label">What is the penalty for federal wire fraud?</label>
        <div class="accordion-content dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</div>
      </div>
      <div class="accordion-block">
        <input type="radio" name="pa1-faq" id="pa1-faq-2">
        <label for="pa1-faq-2" class="accordion-label">Should I speak with investigators before hiring counsel?</label>
        <div class="accordion-content dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</div>
      </div>
      <div class="accordion-block">
        <input type="radio" name="pa1-faq" id="pa1-faq-3">
        <label for="pa1-faq-3" class="accordion-label">How soon should I contact a defense attorney?</label>
        <div class="accordion-content dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</div>
      </div>
    </div>
  </div>
</section>

<section class="bg-color-1 white p-v-4 center">
  <div class="container">
    <h2 class="h2 bold white">Facing a Federal Investigation?</h2>
    <p class="grey m-t-1 m-h-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</p>
    <a href="#contact" class="button button-lg bg-color-2 black m-t-2">Request Confidential Consultation</a>
  </div>
</section>

<footer class="bg-dark white p-v-4 m-t-4">



  
  <div class="container">
    <div class="row justify-content-between align-items-start">
      <div class="col-4">
        <p class="h5 bold m-b-1">Whitfield Criminal Defense</p>
        <p class="grey small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero.</p>
      </div>
    <div class="col-4">
      <p class="bold m-b-1">Practice Areas</p>
      <p class="grey small m-b--1-2"><a href="#" class="grey">Healthcare Fraud</a></p><p class="grey small m-b--1-2"><a href="#" class="grey">Healthcare Fraud</a></p><p class="grey small m-b--1-2"><a href="#" class="grey">Tax Fraud</a></p>
    </div>
    <div class="col-4">
      <p class="row bold m-b-1">Firm</p>
      <p class="grey small m-b--1-2"><a href="#" class="grey">Attorneys</a></p><p class="grey small m-b--1-2"><a href="#" class="grey">FAQ</a></p><p class="grey small m-b--1-2"><a href="#" class="grey">Contact</a></p>
    </div>
  </div>
    <hr class="m-v-2 border-t border-solid border-grey">
    <p class="grey small center m-b-0">&copy; 2026 Whitfield Criminal Defense. All rights reserved.</p>
  </div>
</footer>
</body>
</html>