<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page descrpition">
    <meta name="author" content="Kim Majali">
    <meta name="copyright" content="MIT license, Europe IT Outsourcing, https://www.europeitoutsourcing.com/">


    <title>Shop - CSS Vars Free HTML Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#FF530D">

    <link rel="stylesheet" href="../css/cssvars.css">

    <style>
        body{
            font-family: "Segoe UI";
        }
        .scale {
                     display: inline-block;
                     overflow: hidden; 
                    }
                    .scale img {
                     transition: 1s;
                     display: block; 
                    }
                    .scale img:hover {
                     transform: scale(1.2); 
                    }

                    #navbar {
  overflow: hidden;
 background-color: transparent;
}
    </style>

</head>

<body>
  
        <div class="main-nav m-t-2  container-fluid">
            <div class="main-menu m-h-4">
                <a href="#" id="logo1" target="_blank" rel="noopener noreferrer"><h1 class="logo black font-weight-400">Fresh Plants</h1></a>
    
                <label for="toggle-1" class="toggle-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-black-fill icon-s" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
    
    
                </label>
                <input type="checkbox" id="toggle-1">
    
<nav class="nav m-h-4">
                    <ul class="font-weight-400">
                        <li><a href="#home" style="color:black; letter-spacing: 0.1rem; text-transform: uppercase;">Home</a></li>
                        <li><a href="#catalogue" style="color:black; letter-spacing: 0.1rem; text-transform: uppercase;">Catalogue</a></li>
                        <li><a href="#contact" style="color:black; letter-spacing: 0.1rem; text-transform: uppercase;">Contact</a></li>
                        <li class="d-inline">
                            <a href="#search">
                                <svg viewBox="0 0 24 24" class="img-responsive icon-s">
                                    <path fill="#000" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="d-inline">
                            <a href="#">
                                <svg viewBox="0 0 24 24" class="img-responsive icon-s">
                                    <path fill="#000" d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7C5.89,17 5,16.1 5,15C5,14.65 5.09,14.32 5.24,14.04L6.6,11.59L3,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z"></path>
                                </svg>
                            </a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
       <div class="container-fluid  row m-v-4">
<div class="col-md-6 m-t-4">
<h1 class="black m-t-6 m-h-1 display-3">Find perfect plants<br> for your home</h1>
<h6 class="black m-t-05 m-h-1">Beautiful plants that encourage<br> you to get creative.</h6>
<button class="button-m button-w-25 m-t-05 bg-black white m-h-1">Shop Now</button>
</div>
<div class="col-md-6 m-t-4">
<img src="../img/plants.jpg"  class="img-responsive">
</div>
       </div>  
       
       
     
        <h1 class="center black font-weight-400 m-t-6">Categories</h1>
        <div class="container-fluid row m-t-4">
            <div class="col-md-3">
                <div class="scale">
            <img src="../img/plants-1.jpg" class="img-responsive">
            <h4 class="black">Bedroom Plants</h4>
            </div>
            </div>
            <div class="col-md-3">
                <div class="scale">
                <img src="../img/plants-2.jpg" class="img-responsive"> 
                <h4 class="black">Vertical Garden</h4>
            </div>
            </div>
            <div class="col-md-3">
                <div class="scale">
                <img src="../img/plants-3.jpg" class="img-responsive"> 
                <h4 class="black">Jungle Plants</h4>
            </div>
            </div>
            <div class="col-md-3">
                <div class="scale">
                <img src="../img/plants-4.jpg" class="img-responsive">  
                <h4 class="black">Indoor Plants</h4>
            </div>
            </div>
        </div>
       </div>
       <div class="m-t-4"></div>
       <h2 class="m-t-6 center black">Love and work are to people what water and<br> sunshine are to plants</h2>
       <div class="container-fluid row m-t-6">
        <div class="col-md-3">
            <h2 class="black">Featured</h2>
            <p class="dark m-t-1 h6">Our plants are 100% organic,<br> we don't use pesticides or<br> harmful chemicals.</p>
            <p class="dark m-t-2 h6">But please don't eat them</p>
            <button class="outline-color-dark bg-white black">Shop all Favourites</button>
        </div>
        <div class="col-md-3">
            <div class="scale">
            <img src="../img/plants-5.jpg" class="img-responsive"> 
            <p class="dark small m-t-05">Plant 1</p>
            <h4 class="black">50$</h4>
        </div>
        </div>
        <div class="col-md-3">
            <div class="scale">
            <img src="../img/plants-6.jpg" class="img-responsive"> 
            <p class="dark small m-t-05">Plant 1</p>
            <h4 class="black">35$</h4>
        </div>
        </div>
        <div class="col-md-3">
            <div class="scale">
            <img src="../img/plants-7.jpg" class="img-responsive"> 
            <p class="dark small m-t-05">Plant 1</p> 
            <h4 class="black">45$</h4>
        </div>
        </div>
    </div>
   </div>
   <div class="container-fluid row m-t-6">
    <div class="col-md-6 m-v-1">
        <div class="position-relative">
            <a href="#">
                <img src="../img/plants-8.jpg" alt="alttext" class="img-responsive">
            </a>
            <span class="p-h-1  position-absolute bg-white m-t-6" style="top: 0; left: 0;">
              <p class="grey m0">Written by</p>
              <p class="black h6">Jessica Doe</p>
            </span>
             <p class="font-weight-400 dark m-t-05">Edition 285</p>
             <h5 class="black left">How to water your freaking plants so they don't die after one week</h5>
                        <button class="outline-color-dark bg-white black">Read Now</button>
                    </div>
                </div>

 
    <div class="col-md-6 m-v-1">
        <div class="position-relative">
            <a href="#">
                <img src="../img/plants-9.jpg" alt="alttext" class="img-responsive">
            </a>
            <span class="p-h-1  position-absolute bg-white m-t-6" style="top: 0; left: 0;">
                <p class="grey m0">Written by</p>
                <p class="black h6">Mellissa King</p>
              </span>
            <p class="font-weight-400 dark m-t-05">Edition 285</p>
            
                       <h5 class="black left">How to repot a Monstera without killing it and foster its growth</h5>
                   
                  
                        <button class="outline-color-dark bg-white black">Read Now</button>
                    </div>
                </div>
           
        </div>
    </div>
    
          
       
</div>
</body>

</html>