<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page descrpition">
    <meta name="author" content="Kim Majali">
    <meta name="copyright" content="MIT license, Europe IT Outsourcing, https://www.europeitoutsourcing.com/">


    <title>Slider - CSS Vars Free HTML Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#FF530D">

    <link rel="stylesheet" href="../css/cssvars.css">
</head>

<body>

        
    
        <div class="main-nav nav-bottom-border-hover container-fluid">
            <div class="main-menu m-t-05">
                <a href="#" id="logo1" target="_blank" rel="noopener noreferrer"><h2 class="logo black font-weight-400">Business Site</h2></a>
                <label for="toggle-1" class="toggle-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-s" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </label>
                <input type="checkbox" id="toggle-1">
                <nav class="nav">
                    <ul>
                        <li><a href="guest-profile.html">My account</a></li>
                        <li><a title="Notifications" onclick="toggleDisplay('notifications')">
                                <svg viewBox="0 0 24 24" class="icon-xs img-responsive no-mobile icon-color-1-fill">
                                    <path d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21">
                                    </path>
          
                                </svg><span class="p-l-2 mobile-only"> Notifications</span></a></li>
          
          
          
                        <li><a href="index.html">Log out</a></li>
                    </ul>
                </nav>
            </div>
          </div>
    <div class="row">
      <div class="col-md-7 bg-light-grey">
        <div class="row">
            <div class="col-md-6">
<h1 class="black m-l-2 left font-weight-600 m-t-6">A place for your business</h1>
<p class="font-weight-600 m-t-4 m-l-2">This is what makes our business good.</p>
<div class="left m-l-2">
<button class="bg-white-hover black-hover p-h-4 rounded">Try for free</button>
</div>
            </div>
            <div class="col-md-6 m-t-6 p-l-3">
<img src="../img/slider-1.jpg" width="340" height="230" class="img-responsive">
            </div>
        </div>
        </div>
        <div class="col-md-5 p-l-3 m-t-6">
            <img src="../img/slider-2.jpg"  class="m-t-4 img-responsive">
        </div>
      
    </div>
    <div class="section bg-light-grey">
    <div class="container">
        <h3 class="black center p-t-4 font-weight-400">Trusted by 10,000+ companies off all sizes</h3>
        <div class="row m-v-3">
            <div class="col center m-v-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                <h4 class="black center m-t-05">Logo</h4>
            </div>
                <div class="col center m-v-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                    <h4 class="black center m-t-05">Logo</h4> 
                </div>
                    <div class="col center m-v-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                        <h4 class="black center m-t-05">Logo</h4>
                    </div>
                        <div class="col center m-v-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-color-1-fill icon-ml" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g><path d="M9,11.24V7.5C9,6.12,10.12,5,11.5,5S14,6.12,14,7.5v3.74c1.21-0.81,2-2.18,2-3.74C16,5.01,13.99,3,11.5,3S7,5.01,7,7.5 C7,9.06,7.79,10.43,9,11.24z M18.84,15.87l-4.54-2.26c-0.17-0.07-0.35-0.11-0.54-0.11H13v-6C13,6.67,12.33,6,11.5,6 S10,6.67,10,7.5v10.74c-3.6-0.76-3.54-0.75-3.67-0.75c-0.31,0-0.59,0.13-0.79,0.33l-0.79,0.8l4.94,4.94 C9.96,23.83,10.34,24,10.75,24h6.79c0.75,0,1.33-0.55,1.44-1.28l0.75-5.27c0.01-0.07,0.02-0.14,0.02-0.2 C19.75,16.63,19.37,16.09,18.84,15.87z"/></g></g></g></svg>
                           <h4 class="black center m-t-05">Logo</h4>
                        </div>
        </div>
    </div>
    </div>
    <div class="row container-fluid m-t-6">
        <div class="col-md-6">
<img src="../img/slider-3.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
<p class="grey font-weight-600 text-uppercase center m-t-1">Feature</p>
<h3 class="black center font-weight-600 m-t-4">Simple and super-easy to use!</h3>
<p class="dark center m-t-1">Diam quam nulla porttitor massa id neque aliquam. Hendrerit dolor<br> magna eget est lorem ipsum dolor. Turpis egestas maecenas<br> pharetra convallis.</p>
<div class="center">
<button class="bg-white-hover black-hover p-h-4 m-t-2 rounded">Learn more</button>
</div>
        </div>
    </div>
    <div class="row container-fluid m-t-6">
        <div class="col-md-6">
            <p class="grey font-weight-600 text-uppercase center m-t-1">Feature</p>
            <h3 class="black center font-weight-600 m-t-4">Simplicity is the key!</h3>
            <p class="dark center m-t-1">Diam quam nulla porttitor massa id neque aliquam. Hendrerit dolor<br> magna eget est lorem ipsum dolor. Turpis egestas maecenas<br> pharetra convallis.</p>
            <div class="center">
            <button class="bg-white-hover black-hover p-h-4 m-t-2 rounded">Learn more</button>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../img/slider-5.jpg" class="img-responsive">

        </div>
    </div>
    <div class="h-50 d-flex  bg-color-1 m-t-6 flex-column" style="background-size: cover;">
        <h1 class="center white font-weight-600 m-t-6">Check out our blog</h1>
        <p class="white center h6 m-t-1">Non nisi est sit amet facilisis magna etiam tempor. Amet mauris commodo quis imperdiet massa.</p>
        <div class="row container m-v-4">
            
            <div class="col-md-4 center">
                <div class="center bg-white rounded">
                    <img src="../img/vika/design-company/work-7.jpg" alt="alttext" class="img-responsive">
                    <div class="p-h-1 center p-v-1">
                       <h6 class="left m-v-05 font-weight-600">How to work<br> remotely?</h6>
                       <p class="dark left font-weight-400">Volutpat ac tincidunt vitae semper. Nunc congue nisi vitae suscipit tellus. Adipiscing vitae proin sagittis nisl. </p>
                        <p class="left black bold">John Doe<br><span class="dark font-weight-400">Staff Writer</span></p>
                        
                    </div>
                    </div>      
            </div>
            <div class="col-md-4 center">
                <div class="center bg-white rounded">
                    <img src="../img/vika/design-company/work-9.jpg" alt="alttext" class="img-responsive">
                    <div class="p-h-1 center p-v-1">
                        <h6 class="left m-v-05 font-weight-600">Innovation time</h6>
                        <p class="dark left font-weight-400">Volutpat ac tincidunt vitae semper. Nunc congue nisi vitae suscipit tellus. Adipiscing vitae proin sagittis nisl.Est ullamcorper eget nulla. </p>
                         <p class="left black bold">Jess Lee<br><span class="dark font-weight-400">Staff Writer</span></p>
                            </div>
                    </div>     
            </div>
            <div class="col-md-4 center">
                <div class="center bg-white rounded">
                    <img src="../img/vika/design-company/work-10.jpg" alt="alttext" class="img-responsive">
                    <div class="p-h-1 center p-v-1">
                        <h6 class="left m-v-05 font-weight-600">Work-life balance</h6>
                       <p class="dark left font-weight-400">Volutpat ac tincidunt vitae semper. Nunc congue nisi vitae suscipit tellus. Adipiscing vitae proin sagittis nisl.Est ullamcorper eget nulla. </p>
                        <p class="left black bold">Mark Smith<br><span class="dark font-weight-400">Staff Writer</span></p>
                            </div>
                    </div>       
            </div>
           
        </div>
    </div>
    <div class="container m-t-6">
        <h2 class="center black font-weight-600">Take your first leap towards success</h2>
        <p class="center font-weight-400">Meet our experts and we will help you elevate your business to new levels.</p>
        <div class="center">
        <button class="bg-white-hover black-hover p-h-4 m-t-2 rounded">Sign up for free</button>
        </div>
    </div>
    <div class="container m-t-6">
        <h2 class="center black font-weight-600">Reviews from our users</h2>  
        <p class="center font-weight-400">More than 10,000  professionals from all over the world use our product. Read their reviews here!</p>
        <div class="row container m-v-4">
            <div class="col-md-4 center">
                <div class="center shadow-color-3 rounded">
                    <div class="p-h-1 left m-t-2">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </div>
                    <div class="p-h-1 left p-v-1">
                        <p class="black font-weight-600">"Once you try this product you will never go back. Lovely to see so many professionals."</p>
                    </div>
                    <div class="row">
                        <div class="col-3 p-h-2">
                            <img src="../img/vika/sandra-lee-1.jpg" class="circle icon-m">
                        </div>
        
                        <div class="col-5 p-v-1">
                            <span class="font-weight-600 black">Melly Doe<br><span class="small dark">Designer</span>
                            </span>
                        </div>
                    </div>
                    </div>       
                    </div>
                    
                    <div class="col-md-4 center">
                        <div class="center shadow-color-3 rounded">
                            <div class="p-h-1 left m-t-2">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                                    <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                            </div>
                            <div class="p-h-1 left p-v-1">
                                <p class="black font-weight-600">"Once you try this product you will never go back. Lovely to see so many professionals."</p>
                            </div>
                            <div class="row">
                                <div class="col-3 p-h-2">
                                    <img src="../img/vika/chelsie-green-1.jpg" class="circle icon-m">
                                </div>
                
                                <div class="col-5 p-v-1">
                                    <span class="font-weight-600 black">Jess Doe<br><span class="small dark">Designer</span>
                                    </span>
                                </div>
                            </div>
                            </div>       
            
            </div>
            <div class="col-md-4 center">
                <div class="center shadow-color-3 rounded">
                    <div class="p-h-1 left m-t-2">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-prefix="fas" data-icon="star" class="icon-xs" role="img" viewBox="0 0 576 512">
                            <path fill="black" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </div>
                    <div class="p-h-1 left p-v-1">
                        <p class="black font-weight-600">"Once you try this product you will never go back. Lovely to see so many professionals."</p>
                    </div>
                    <div class="row">
                        <div class="col-3 p-h-2">
                            <img src="../img/vika/em-shepard-1.jpg" class="circle icon-m">
                        </div>
        
                        <div class="col-5 p-v-1">
                            <span class="font-weight-600 black">Ann Doe<br><span class="small dark">Designer</span>
                            </span>
                        </div>
                    </div>
                    </div>       
           
        </div>
    </div>
</body>

</html>